[2020-03-14 03:28] lazd opened #1 "Figure out how to pull data from ArcGIS and Esri maps"
A number of site have ArcGIS and Esri maps. It should be possible to pull their data directly.

ArcGIS example: https://www.nj.gov/health/cd/topics/covid2019_dashboard.shtml
ERIS example: https://www.ncdhhs.gov/covid-19-case-count-nc

https://github.com/CSSEGISandData/COVID-19/issues/558#issuecomment-599001698

[2020-03-14 03:29] lazd opened #2 "Manual deployment to Github pages"
The data should deploy as downloadable CSV and JSON to a basic website via Github pages.

[2020-03-14 03:30] lazd opened #3 "Manual deployment to Github releases"
Each update to data should create a release on Github.

[2020-03-14 03:30] lazd opened #4 "Manual deployment to npm"
Not sure if this is the right way to deliver the data, but releasing to npm should be considered.

[2020-03-14 03:31] lazd opened #5 "Automatic daily deployment"
Data should be deployed daily at 9PM PST.

[2020-03-14 03:31] lazd opened #6 "Data change summary"
Before writing data, a summary should be printed that details what changed. This will help debug issues when scrapers break, and will help verify to scraper authors that their scraper works.

[2020-03-14 03:33] lazd opened #7 "Generalize parsing patterns"
Many patterns are starting to emerge in the way data is stored and parsed, such as tables with left-handle labels, etc.

Though it's likely that many of these will still have to be case-by-case, they should be generalized if at all possible in `lib/parse.js` as a configurable function.

[2020-03-14 04:10] tavyandy97 commented on #1
Hey! What all data do you want from the aforementioned sources?

[2020-03-14 05:30] mark-otaris commented on #1
You can download the data as a CSV.

Dashboard | Directory page | Data
--------- | -------------- | ----
[New Jersey](https://www.nj.gov/health/cd/topics/covid2019_dashboard.shtml) | [Counties](https://services7.arcgis.com/Z0rixLlManVefxqY/arcgis/rest/services/Counties/FeatureServer) | [CSV](https://opendata.arcgis.com/datasets/8840fd8ac1314f5188e6cf98b525321c_0.csv)
[North Carolina](https://www.n

[2020-03-14 07:28] lazd commented on #1
@mark-otaris you're a hero. Can you identify [the other states from here](https://docs.google.com/spreadsheets/d/1T2cSvWvUvurnOuNFj2AMPGLpuR2yVs3-jdd_urfWU4c/edit#gid=0) that might provide this data and post back with links?

[2020-03-14 07:38] lazd commented on #1
@mark-otaris already got those CSVs added to the scraper, excellent work!

[2020-03-14 08:00] mark-otaris commented on #1
Added Indiana.

[2020-03-14 08:34] #2 closed

[2020-03-14 08:42] lazd opened #8 "Normalize all country data to be ISO 3166-1 alpha-3 country code"
Currently, data from JHU comes with full country names. We should normalize it to be ISO 3166-1 alpha-3 country code.

[2020-03-14 08:46] lazd opened #9 "Backfill time series data"
Using static sources (JHU), backfill the time series to the start of the start of the pandemic.

[2020-03-14 09:04] lazd opened #10 "Support scraping sites that require JavaScript"
Use Chromium headless to hit websites that require JavaScript, expose API to scrapers to query the DOM or parse the rendered HTML.

[2020-03-14 09:04] mark-otaris commented on #9
In case other sources of machine-readable historical data for countries independent of JHU CSSE are useful:

* [Reuters’s map](https://graphics.reuters.com/CHINA-HEALTH-MAP/0100B59S39E/index.html) ([JSON](https://d3sl9l9bcxfb5q.cloudfront.net/json/corona-regionwise)) goes back to December 31
* Our World in Data has [corrected data](https://ourworldindata.org/coronavirus-source-data) transcribed to

[2020-03-14 09:30] lazd commented on #1
Closing this now that we've got it covered. Thanks again!

[2020-03-14 09:30] #1 closed

[2020-03-14 09:35] lazd opened #11 "File an issue and tag the person that wrote the scraper when it fails"
I'm not sure this is possible, but it would be really slick.

[2020-03-14 10:29] lazd opened #12 "Create repo to store cache in, store historical cache"
This will make it possible to go back and time and regenerate the dataset if scraper rules change.

[2020-03-14 10:30] lazd opened #13 "Provide index.json and index.csv with links for time series"
Don’t make people guess what dates are available, provide an index on the site and in releases.

[2020-03-14 13:06] sorny92 opened #14 "Implementing scraper for Spain (Official government data)"
Hello there!
I have the source data for spain and it's states but this data is in a pdf. I got the way to transform the data from pdf to html so then I can parse it properly.

A far I've seen the parser is in JS, should I create an intermediate project where I do this step and then parse my own data?

[2020-03-14 15:54] lazd commented on #14
Let’s avoid the intermediate project, I’d rather have the parser fo straight to the source where possible.

Can you look into doing the parsing of the PDF in your scraper itself, and finding the data without converting it to HTML?

Take a look at:
https://github.com/mozilla/pdf.js

[2020-03-14 16:31] ssljivar opened #15 "State totals should be calculated if state's website shows all counties"
When available, the County-level data for the US is provided in addition to the State-level data, causing duplication.  For example, New Jersey state-level data shows 29 cases (County == NULL), and County-level data aggregates to 47 cases.  Suggest to exclude the State-level data when County-level data is available.

Also, State descriptors for State-level and County-level data is inconsistent.  F

[2020-03-14 17:06] sorny92 commented on #14
oh! That makes sense!
I will give it a try

[2020-03-14 17:16] lazd opened #16 "Normalize all state data for the US to use 2 letter abbrevation"
Some data uses the full state name. It should always use the [2 letter abbrevation](https://pe.usps.com/text/pub28/28apb.htm)

[2020-03-14 17:22] lazd commented on #15
Thanks for the report, it got me thinking...

For the most part, it is intended that we provide both county and state-level data, even if duplicative. Unlike the JHU dataset, we cite both county and state. It's up to you to work with the data at the level of granularity you need for your application. If you want state level data, ignore anything that has a `city` or `county` field and just use tho

[2020-03-14 17:50] sorny92 commented on #11
As a work around we can just add the @ to the github user in the Google sheets

[2020-03-14 18:11] sorny92 commented on #14
Ok,
I'm starting with the scraper and I'm finding myself with problems setting the invironment.
I'm running ```Ubuntu 18.04```
node version: ```v12.16.1```
yarn version: ```1.22.4```

So far I've run:
[code]
I got an error related to some node arguments but I updated node to the version I said in the top and there wasn't error anymore.
When I run: ```yarn start``` now I get the next error:
[code]

[2020-03-14 18:15] raysalem opened #17 "San diego data is wrong"
Website data is below. note this a maitrix, need sum all three columns and to be bias towards positive also sum presumptive-->

  | San Diego County1 | Federal Quarantine2 | Non-San Diego County Residents3
-- | -- | -- | --
Positive (confirmed cases) | 0 | 2 | 0
Presumptive Positive | 8 | 1 | 0
Pending Results | 38 | 6 | 4
Negative | 99 | 11 | 8
Total Tested | 145 | 20 | 12

**URL**
https://www.sa

[2020-03-14 18:16] DavidGeeraerts opened #18 "Last acquired timestamp as text file"
Create a simple text file that provides a timestamp (in UTC format) as to when the last acquired run happened. Would be part of the metadata record. Convenient to have it as a separate file for easy program check.

[2020-03-14 18:16] lazd opened #19 "Calculate rate of increase over previous day"
For each date generated, load the dataset for the previous data and indicate the daily percentage growth rate in a column.

[2020-03-14 18:27] sorny92 opened #21 "Error in "yarn start" step"
Ok,
I'm starting with the scraper and I'm finding myself with problems setting the invironment.
I'm running ```Ubuntu 18.04```
node version: ```v12.16.1```
yarn version: ```1.22.4```

So far I've run:
[code]
I got an error related to some node arguments but I updated node to the version I said in the top and there wasn't error anymore.
When I run: ```yarn start``` now I get the next error:
[code]

[2020-03-14 18:28] sorny92 commented on #21
I solved it updating nodejs to v13.11.0

[2020-03-14 18:28] sorny92 commented on #21
I solved it updating nodejs to v13.11.0

[2020-03-14 18:28] #21 closed

[2020-03-14 19:07] qgolsteyn opened #23 "Fails if output directories are not present"
Running `MacOS Mojave`
node version: `v13.11.0`
yarn version: `1.17.3`

When running `yarn start`, the scraping process halts prematurely and provides the following output:

[code]

Node appears to throw while in a promise while opening a file in the directory `cache` indicated by the line:

[code]

[2020-03-14 19:08] lazd opened #24 "Error if a scraper returns zero rows"

[2020-03-14 19:08] #24 closed

[2020-03-14 19:10] #23 closed

[2020-03-14 19:10] lazd commented on #23
@qgolsteyn fixed, please pull master and give it a try.

[2020-03-14 19:15] #17 closed

[2020-03-14 19:16] lazd commented on #17
Thanks for the report, fixed!

And hey, this is a great excuse to [learn JavaScript](https://javascript.info/).

[2020-03-14 19:23] qgolsteyn commented on #23
That was fast! The latest commit on master fixes the `cache` directory issue. I also get a similar error due to the `dist` directory missing when outputting the final `.csv` and `.json` files. Another small fix, happy to provide a PR for it if helpful.

[2020-03-14 19:24] lazd commented on #18
This could be included as a field in the data instead of a separate textfile.

[2020-03-14 19:25] lazd commented on #23
@qgolsteyn ah, of course. Please do send a pr with `fs.ensure` inside of `writeData` and I'll merge immediately.

[2020-03-14 19:36] lazd commented on #21
Oh nice one. Note you also can't use `require` anywhere, you have to use ES6-style `import`.

[2020-03-14 21:53] lazd opened #32 "Retry fetch if the host fails to respond"

[2020-03-14 22:20] lazd opened #33 "Include active field in data"
`active` = `cases` - `deaths` - `recovered`

[2020-03-15 00:36] sorny92 commented on #14
I've been trying the last couple hours and I haven't been able to scrap the PDF. I'm having mainly two problems:
1. When I fetch the pdf and I try to visualize it in the cache folder it looks empty (although size is ~500kb, the correct one should have around ~300kb)
I tried the fetch method that is already implemented in the code and also:
[code]
In all of the cases the file is blank.

2. Another

[2020-03-15 00:50] SteveWallace commented on #1
@mark-otaris any chance you could figure out Lousiana's? http://ldh.la.gov/Coronavirus/ not familiary enough with the arcGIS api to know where to get the proper link

[2020-03-15 01:05] mark-otaris commented on #1
I added the CSV for Lousiana; it has cases and deaths for each parish, which Wikipedia says are equivalent to counties.

[2020-03-15 01:17] SteveWallace commented on #1
Thanks!

[2020-03-15 01:32] lazd commented on #1
Updated, thanks @mark-otaris!

@SteveWallace look at the scraper, I did the hacky bit we talked about and added a conditional based on date... It'll parse the old date before today, and the CSV going forward.

[2020-03-15 04:00] mark-otaris commented on #14
While not an official government source, Esri España has [a dashboard](https://coronavirus.esri.es) with cases, deaths, and recovered for each autonomous community, and there’s [a CSV](https://opendata.arcgis.com/datasets/48fac2d7de0f43f9af938852e3748845_0.csv) of the data, which seems up-to-date for now.

[2020-03-15 06:52] #16 closed

[2020-03-15 15:35] lazd opened #42 "Replace hand-rolled date functions with moment.js or similar"
They're getting pretty gross. Let's use a library.

[2020-03-15 15:36] lazd opened #43 "Add unit testing for lib functions"

[2020-03-15 15:38] lazd commented on #12
https://github.com/lazd/coronadatascraper-cache

[2020-03-15 15:38] #12 closed

[2020-03-15 16:51] qgolsteyn commented on #43
Would recommend adding CodeCov in a future PR to track coverage

[2020-03-15 16:57] #43 closed

[2020-03-15 16:58] #33 closed

[2020-03-15 16:59] lazd opened #45 "Write unit tests for lib/fetch"

[2020-03-15 17:59] DavidGeeraerts opened #46 "Florida deaths not captured"
Florida deaths is not being captured. Should see a # for deaths for Florida.
(*Florida is only reporting deaths at the state level, not at the county level.)

[code]

SOURCE: http://blog.lazd.net/coronadatascraper/data.csv
*as of this post.

[2020-03-15 18:21] lazd commented on #46
@DavidGeeraerts I see. We're pulling state level data from CDC right now. Let's see what we can do about this...

[2020-03-15 19:01] PCastleton commented on #46
In Florida, the website has 5 more cases than the scraper (100 vs 95).  That may just be a more recent update.  More to the issue, the scraper is having trouble bucketing all the cases into counties.  Currently, 31 of the 95 scraper cases that have no county associated.

[2020-03-15 19:28] lazd opened #48 "Use YYYY-MM-DD everywhere"
Currently, sometimes we have YYYY-M-D. Switch to YYYY-MM-DD for ease of sort and consistency.

[2020-03-15 19:28] lazd opened #49 "Document output data format"
We need a nice rundown of each field, what it is, what format its in, etc.

[2020-03-15 19:29] PCastleton commented on #46
Correcting error above:  The 31 was the CDC case count.  Florida Health shows 100.  Apologies confusion.

[2020-03-15 19:37] DavidGeeraerts commented on #49
Yes that's me [jumping up and down]!

[2020-03-15 19:52] lazd opened #51 "Need help figuring out GeoJSON objects for Italian regions"
I'm having trouble figuring out what GeoJSON features the regions listed here should be associated with:
https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv

GeoJSON regions: https://github.com/lazd/coronavirus-data-sources/blob/master/geojson/world-states-provinces.json

[2020-03-15 19:54] lazd commented on #51
@enrichman can you help? I think it might be that the names in the data source refer to regions of provinces, and the GeoJSON has the provinces (too granular).

[2020-03-15 20:06] lazd commented on #9
Timeseries data is now generated with `yarn timeseries`!

[2020-03-15 20:06] #9 closed

[2020-03-15 20:07] enrichman commented on #51
@lazd that's correct, the file with provinces is this one:
https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province.csv

[2020-03-15 20:09] enrichman commented on #51
One thing to notice is that there are two regions that are interpreted as two distinct one, but they're officially one.
*Bolzano* and *Trento* are actually two provinces of the *Trentino Alto-Adige* region (id 4).

[2020-03-15 20:15] lazd opened #52 "Provide transposed time series data organized by date, not location"
Also, provide a `locations.json` with details on the locations since they're repeated within a pivoted time series.

[2020-03-15 20:23] #8 closed

[2020-03-15 20:25] lazd commented on #51
Oh! Let's go by provinces then! Can you send a PR to update [the ITA scraper](https://github.com/lazd/coronadatascraper/blob/master/scrapers.js#L331-L364) to use the province data? I struggle with the language and geography.

[2020-03-15 20:27] lazd opened #53 "Report errors in a JSON file"
To assist in debugging, we should log out errors

[2020-03-15 20:35] enrichman commented on #51
@lazd no problem. But I've seen that the data of the provinces show only the total cases, not the recovered nor deaths. 🙁

Should we go only with the regions then?

[2020-03-15 20:49] lazd commented on #51
@enrichman if we go with regions, we need GeoJSON for the regions (or we need to make our own feature collection that includes the provinces we have). Can you do that?

[2020-03-15 21:00] enrichman commented on #51
@lazd I don't know much about GeoJSON but I can study a bit.
Could something like this work? https://github.com/stefanocudini/leaflet-geojson-selector/blob/master/examples/italy-regions.json

Btw I'm having some trouble on starting the project:
[code]

[2020-03-15 21:01] lazd commented on #51
@enrichman update to Node 13 and that error will go away

[2020-03-15 21:04] lazd commented on #51
@enrichman that would work perfectly!

[2020-03-15 21:38] #53 closed

[2020-03-15 23:29] #10 closed

[2020-03-16 00:24] SteveWallace commented on #42
Do you want to just re factor the datetime.js to use moment or would you rather remove that helper and just use moment where we need it? Less change and probably better encapsulation with the former probably.

[2020-03-16 01:08] lazd opened #65 "Populate missing cache from Wayback machine"
Like the title says, go back in time to get cache from the wayback.

[2020-03-16 01:15] lazd opened #66 "Run scraper and report changed data on pull request"

[2020-03-16 02:22] qgolsteyn commented on #42
See #50. We still need to update the codebase with the new `datetime.js` before the PR can be merged.

[2020-03-16 02:59] lazd opened #68 "Remove duplicates from data"
If data for a location is added twice, it should be de-duped.

The priority of dedupe should be determined by a `_priority` field on the scraper.

[2020-03-16 03:00] #68 closed

[2020-03-16 03:31] lazd commented on #1
@mark-otaris do these URLs stay up to date? Also, how are you getting them?

Can you get a URL for https://coronavirus.maryland.gov/'s CSV?

[2020-03-16 03:39] lazd commented on #1
@mark-otaris I figured it out, inspect until you find the request to https://services.arcgis.com/ FeatureServer, pull the `serviceItemId` from the response, then do `http://opendata.arcgis.com/datasets/${serviceItemId}_0.csv`. Thanks!

[2020-03-16 04:12] mark-otaris commented on #1
Yes, and the 0 after the underscore is the number of the layer. Most of them have only one layer, but JHU CSSE has three.

[2020-03-16 04:17] qgolsteyn opened #70 "Website does not scroll"
The website currently goes beyond the fold with no ability to scroll.

See https://blog.lazd.net/coronadatascraper/

[2020-03-16 04:32] mark-otaris opened #72 "Dates in time series JSON are not zero-padded"
I’m not aware that any date parser really needs dates to be zero-padded to detect the format correctly, but if going with ISO 8601, might as well go all the way. (They’re already zero-padded in the non-JHU CSVs.)

[2020-03-16 05:29] lazd commented on #72
Agreed. We need to do this ASAP. This work is covered in #48

[2020-03-16 05:29] #72 closed

[2020-03-16 06:40] JimBudde commented on #15
I am hoping a simpler solution might involve the following logic given the reporting time differences already noted by county, state, or cdc.
If State (Parent) number is higher than sum of counties (children), then calculate difference and allocate to "Undisclosed" (or similarly named) 'county' record.  If the State number is lower than sum of counties, then replace the state total with sum of cou

[2020-03-16 08:44] greg-minshall opened #78 "a few more ISO3166 names"
it seems like Congo (Brazzaville) and Hong Kong have ISO3166 codes (COG and HKG).  (at least according to wikipedia).  i think that would just leave Kosovo without a code.

[2020-03-16 08:52] lazd commented on #78
So @saralioness and I looked at Congo: https://github.com/lazd/coronadatascraper/commit/e4a4cc011797785b763ca911f3dfd6778193484f

And a few others: https://github.com/lazd/coronadatascraper/commit/8de5f5e466cc4557f30e01e1f974075239249302

We wrote `KOS` for for Kosovo. Thoughts?

[2020-03-16 08:55] lazd opened #79 "Scraper for DEU (Germany) regions"
We need regional data for DEU.

[2020-03-16 08:56] lazd opened #80 "Scraper for FRA (France) regions"
We need regional data for FRA.

[2020-03-16 08:56] lazd opened #81 "Scraper for ESP (Spain) regions"
We need regional data for ESP.

[2020-03-16 09:18] lazd opened #82 "Ratings for data sources"
Scrapers should get a objective rating based on:

* ease of machine readability
* the completeness of available data
* timelines of updates
* consistency

We should advertise these ratings and actively point to them when reaching out to government department to demand better data.

[2020-03-16 14:57] greg-minshall commented on #78
i'd probably leave Kosovo "Kosovo", so it's clearly *not* a 3166 code.  (thanks, btw, for the pointer to 3166 -- i hadn't realized the source of these codes.)

also, you seem to want Palestine to be "PSR".  it seems like 3166 defines it as PSE.

[2020-03-16 15:50] DavidGeeraerts commented on #49
I'm looking into whether to make this an [ISO 19115:2013](https://en.wikipedia.org/wiki/Geospatial_metadatal) metadata record or use [metadata-json](https://project-open-data.cio.gov/v1.1/schema/).
This is after all, Vector Spatial Data --> ISO 19115:2013

[2020-03-16 17:02] hyperknot commented on #79
datawrapper.de writes in: https://blog.datawrapper.de/coronaviruscharts/#considerations

<p>For the <a href="#map-germany">state map of Germany</a>, we use numbers from the <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html" target="_blank" rel="noopener"><strong>Robert Koch Insitute</strong></a>. This source is official, but updated slowly in comparison to e.g.

[2020-03-16 17:34] lazd commented on #78
I think that's a typo, thanks! Can you send a PR to fixup Palestine and Kosovo?

[2020-03-16 17:34] lazd commented on #49
@hyperknot, thoughts on this?

[2020-03-16 17:37] lazd commented on #15
@JimBudde that's very clever, we should implement that! Right now, we just roll up state data and only have `(unassigned)` if the state provides data for unassigned counties.

Yes, people will say "double-counting," and we'll say "work with the data at the granularity level you need it, and always add salt."

Thanks!

[2020-03-16 17:38] qgolsteyn opened #87 "Add a list of scrappers dropped due to dedup in `report.json`"

[2020-03-16 18:12] #80 closed

[2020-03-16 18:21] greg-minshall opened #88 "Palestine and Kosovo codes"
Palestine in ISO 3166 is defined as "PSE" (currently the code uses "PSR").

also, at least the World Bank seems to define Kosovo as "XKX", so maybe that would be a good code to use there.

[2020-03-16 18:48] DavidGeeraerts commented on #49
I'm heavily swayed by data.gov Open Data Standards:
[Project Open Data Metadata Schema ](v1.1https://project-open-data.cio.gov/v1.1/schema/)

I'm somewhat spinning my wheels trying to find a good metadata-json editor. I'd rather not have to edit in raw. I'm looking...

[2020-03-16 19:25] lazd commented on #88
Thanks, @greg-minshall! Can you send a pull request correcting them? The overrides live here: https://github.com/lazd/coronadatascraper/blob/master/lib/transform.js#L10-L28

[2020-03-16 19:26] #82 closed

[2020-03-16 20:21] #81 closed

[2020-03-16 23:14] lazd opened #89 "MD scraper broken"
Sever returns:
[code]

@SteveWallace can you look at this?

[2020-03-16 23:19] lazd opened #90 "PA scraper broken"
Looks like some HTML moved around.

@osvyg can you investigate?

[2020-03-16 23:19] lazd opened #91 "WI scraper broken"
Looks like HTML moved around.

Remember: preserve old scraper by hiding it behind `datetime.scrapeDateIsBefore('2020-3-16')` and adjust URLs accordingly.

[2020-03-16 23:23] SteveWallace commented on #89
Something went wrong with a merge, that's LA not MD. The MD code from my PR last night is gone

[2020-03-16 23:24] lazd opened #92 "Glenn County, CA scraper broken"
New URL is https://www.countyofglenn.net/dept/health-human-services/public-health/covid-19 and scraper might need to be updated.

Remember: preserve old scraper by hiding it behind `datetime.scrapeDateIsBefore('2020-3-16')` and adjust URLs accordingly.

@jbencina can you investigate?

[2020-03-16 23:24] DavidGeeraerts commented on #49
This is exactly what I was looking for and need!
[mdEditor](https://go.mdeditor.org/#/dashboard)
Let's just say it's in the works after being stalled for the day. :-(

[2020-03-16 23:25] lazd commented on #89
@SteveWallace oh no! I may have messed it up.

[2020-03-16 23:29] SteveWallace commented on #89
no biggie, I'm about to delete and refork to fix a bunch of issues with the submodules. After that I'll submit a PR with the proper LA  state code and the MD code

[2020-03-17 00:33] SteveWallace commented on #90
PA changed their html to use a table instead of a list looks like.

[2020-03-17 00:41] SteveWallace commented on #89
#93

[2020-03-17 00:51] lazd commented on #90
@SteveWallace if you wanna fix this one, go ahead and do so! Please remember to maintain backwards compatibility https://github.com/lazd/coronadatascraper#what-to-do-if-a-scraper-breaks

[2020-03-17 01:41] #89 closed

[2020-03-17 01:44] #92 closed

[2020-03-17 01:57] #91 closed

[2020-03-17 02:00] lazd commented on #52
Closed in 88ade7104ad9f131f57efdae553f331d568a818e

[2020-03-17 02:00] #52 closed

[2020-03-17 02:28] lazd commented on #46
@PCastleton deaths are no longer reported. This is their latest data: https://opendata.arcgis.com/datasets/b4930af3f43a48138c70bca409b5c452_0.csv

The scraper has been updated to use this data.

[2020-03-17 02:28] #46 closed

[2020-03-17 02:32] lazd commented on #90
I'm on it!

[2020-03-17 02:37] #90 closed

[2020-03-17 03:53] #5 closed

[2020-03-17 05:16] #70 closed

[2020-03-17 07:23] camjc opened #97 "Separate scrapers into individual files"
Its a bit of a pain for folks to contribute to the scraper since git will get super confused when trying to merge/rebase.

It'd be good to separate all the scraper definitions into their own files (maybe named by the country code or something) and then bring them all in at runtime, instead of just having one giant scraper file.

[2020-03-17 09:10] lazd commented on #97
Totally agree. Now that priority and rating are implemented, order won't matter when it comes to overriding/duplicates, so we can dynamically import a whole directly of scrapers and run them.

[2020-03-17 09:34] lazd commented on #19
Implemented as `growthFactor` column/field.

[2020-03-17 09:34] #19 closed

[2020-03-17 09:37] lazd opened #100 "Add routine to sum "deduped" when we have both county and state data"
We want to keep both types of data in the output, but we want to come up with a simple routine that folks can use to sum data without getting duplicates. This would look at the granularity of the data vs the completeness somehow.

[2020-03-17 09:38] lazd commented on #15
All scrapers that get county-level data sum it up nicely now. We don't run the equation that @JimBudde came up with, but I'm going to consider this close for now.

We using `(unassigned)` for situation where a state reports data, but doesn't tell us what county its in, so that's handled.

Note that we are still including state data if county data is present. It's up to users to filter for the gran

[2020-03-17 09:38] #15 closed

[2020-03-17 09:39] lazd commented on #66
@qgolsteyn sounds like we're close to being able to do this with the CI setup we have for daily pushes. Thoughts?

[2020-03-17 09:41] lazd opened #101 "Missing location and population data for GBR counties"
Tons of GBR counties can't find their respective GeoJSON:

  ❌ Could not find location Channel Islands, GBR
  ❌ Could not find location Bournemouth, Christchurch and Poole, GBR
  ❌ Could not find location Bristol, City of, GBR
  ❌ Could not find location Cornwall and Isles of Scilly, GBR
  ❌ Could not find location Hackney and City of London, GBR
  ❌ Could not find location Herefordshire, County o

[2020-03-17 09:43] lazd opened #102 "Missing location and population data for FRA provinces"
There are a few missing regions, and some problematic ones that break FRA itself:

  ⚠️  Skipping MTQ because it breaks France
  ⚠️  Skipping REU because it breaks France
  ❌ Could not find location French Polynesia, FRA
  ⚠️  Skipping GUF because it breaks France
  ❌ Could not find location Saint-Barthélemy, FRA
  ❌ Could not find location Saint-Martin, FRA
  ❌ Could not find location Guyane, FRA

[2020-03-17 09:44] lazd opened #103 "Missing location and population data for ESP regions"
Tons of ESP regions can't find their respective GeoJSON:

  ❌ Could not find location Principado de Asturias, ESP
  ❌ Could not find location Illes Balears, ESP
  ❌ Could not find location Canarias, ESP
  ❌ Could not find location Comunitat Valenciana, ESP
  ❌ Could not find location Comunidad de Madrid, ESP
  ❌ Could not find location Región de Murcia, ESP
  ❌ Could not find location Comunidad Fo

[2020-03-17 11:08] jgehrcke commented on #79
I also found that zeit.de is right now the best source in Germany. I think they collaborate with individual state ministries and therefore the numbers are pretty official. They are however much more real-time than the numbers published by Robert Koch Institute (the RKI needs about a day before they process and publish).

[2020-03-17 12:24] S-Wallace-OH commented on #100
What if we just move the state totals to another column? So County Cases, State Cases and possibly Country Cases.

If you want state level, just sum(State Cases), for all rows that are counties it'll be 0 and only the State rows will have it populated. If you want just County cases, sum(County Cases)?

[2020-03-17 13:47] JimBudde opened #105 "Possible Intermittent US State County level reporting issues - FYI"
Just noticed this on page where Colorado Data was scraped.  Only state totals were provided.  County and demographic data removed at the moment.

"Due to the high volume of tests being processed by the state lab and a need to get the information out quickly, today’s case summary does not contain a demographic breakdown. Demographic data will be provided as soon as the lab is able to provide the st

[2020-03-17 14:14] jgehrcke commented on #79
I am going to help with that @lazd -- my email address is jgehrcke@googlemail.com

[2020-03-17 14:51] JimBudde opened #106 "Russia Lat Long Values - formatting issue"
There are a number of Russian records where lat/long values are in scientific notation e.g. 4.2632564145606E-14

[2020-03-17 14:58] veyEskelson commented on #103
http://www.diva-gis.org/datadown

Spain Administrative areas. ESP_Adm1.shx should be the boundaries you want.

[ESP_adm1_json.zip](https://github.com/lazd/coronadatascraper/files/4344060/ESP_adm1_json.zip)

[2020-03-17 15:18] veyEskelson commented on #103
Population numbers
https://www.ine.es/dynt3/inebase/en/index.htm?padre=517&capsel=525

Municipal breakdown-Download compressed file with the municipal Excel files for each year (latest population totals from January 2019)
Downloadable  in CSV and Json

[2020-03-17 15:58] DavidGeeraerts commented on #49
@lazd I've validated the workflow with [mdEditor](https://www.mdeditor.org/l):

1. Import the mdeditor metadata file
2. merge
3. edit
4. export
Think this workflow will work as a collaborative metadata project.

My question: should I upload the metadata.json file to the coronadatascraper repository?
I would think so, just want to check with you, since that's not exactly where the data is.
Should a

[2020-03-17 16:49] lazd commented on #105
Yes, I saw that and it angered me. https://github.com/lazd/coronadatascraper/blob/master/scrapers.js#L610

[2020-03-17 16:49] lazd commented on #106
LOL oh no, that's annoying. Thank you for the report!

[2020-03-17 16:53] lazd commented on #100
@S-Wallace-OH hmm, that's a possibility. What do others think?

[2020-03-17 16:56] S-Wallace-OH commented on #100
You could also just implement a set of flags to check, so StateFlag=1 or CountryFlag=1 and those rows are the only ones populated.

Either way makes it fairly straightforward for the calculation to work in most visualization tools.

[2020-03-17 16:57] S-Wallace-OH commented on #100
Also, just realized I'm commenting under my work account and not my normal SteveWallace account :D

[2020-03-17 17:00] lazd commented on #100
Ah, that's why I didn't recognize you :P

[2020-03-17 17:18] jgehrcke commented on #79
Unfortunately I could not reach the people behind https://www.coronavirus.jetzt/. Right now zeit.de provides a larger count than coronavirus.jetzt. Given that zeit.de is one of the largest newspapers in Germany (of quality) I will proceed under the assumption that zeit.de is one of the best data sources to bet on for the coming hours, days, and weeks.

[2020-03-17 17:27] veyEskelson commented on #101
https://github.com/martinjc/UK-GeoJSON

https://martinjc.github.io/UK-GeoJSON/

Your list seems to be of Local Authority districts.

[2020-03-17 17:28] lazd commented on #49
@DavidGeeraerts how often will this metadata file change, what does it look like, and how should we provide it?

[2020-03-17 17:33] #88 closed

[2020-03-17 17:33] #78 closed

[2020-03-17 17:41] veyEskelson commented on #101
United Kingdom: https://gadm.org/download_country_v3.html  shapefile gadm36_GBR_2
[gadm36_GBR_2.zip](https://github.com/lazd/coronadatascraper/files/4344880/gadm36_GBR_2.zip)

[2020-03-17 17:50] lazd commented on #101
@veyEskelson thanks, I was so confused (what's a county? what's a district?). Can you work with @enrichman to get the data in?

[2020-03-17 17:56] veyEskelson commented on #101
@lazd Sure

[2020-03-17 18:22] lazd opened #108 "Generate scorecards for data sources based on ratings, publish on site"
In order to convince counties and states to provide good data, we should have a scorecard with big angry colored grades from A+ to F- to rate data sources.

[2020-03-17 18:47] veyEskelson commented on #101
2018 population for local authorities in UK
source:https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/articles/overviewoftheukpopulation/august2019

Looks to have all the locations on your list.
[UK2018_population.zip](https://github.com/lazd/coronadatascraper/files/4345193/UK2018_population.zip)

[2020-03-17 19:11] qgolsteyn commented on #66
Yes, very close. Diffing might be a bit harder. Looking at ways to trigger for only the scrapper that was changed/added.

[2020-03-17 19:16] LiveMethod commented on #51
Heads up the specific version is 13.4.0 – I had 13.2 and was still receiving this error, updating to 13.4 resolved it.

https://nodejs.org/api/cli.html#cli_insecure_http_parser

[2020-03-17 20:06] jgehrcke commented on #79
Here we go:

[code]

I did build https://covid19-germany.appspot.com/now  and plan to maintain it. Goal: data quality, and data freshness. Right now the source is, as argued above, zeit.de.

[2020-03-17 21:14] camjc commented on #108
Yes! And ideally “why” we think it’s a bad source, as well as what formats give an A rating.

[2020-03-17 23:05] veyEskelson opened #114 "Texas deaths not captured"
https://www.dshs.state.tx.us/news/updates.shtm#coronavirus
Texas has its first death due to the virus. Added additional table for deaths and testing to webpage.
death in Matagorda county.

[2020-03-17 23:46] lazd commented on #108
Closed by b8c34bae71556cea9c6a0089d58ee1c239b33a75

@camjc let me know what you think of the explanations here: https://blog.lazd.net/coronadatascraper/#sources

[2020-03-17 23:46] #108 closed

[2020-03-17 23:47] lazd commented on #114
Hmm, they don't list deaths by county, but we can certainly add it to the state-level data.

[2020-03-17 23:48] lazd commented on #51
Thanks @LiveMethod, we need to add this in `engines`

[2020-03-18 00:18] lazd opened #115 "Site should have a GeoJSON viewer"

[2020-03-18 00:35] jgehrcke opened #116 "--location does not run just a single scraper, but all"
Current docs:

I wanted to test the scraper that I am currently trying to add (`DEU'`):

[code]
Here I interrupted the process.
Is that because my scraper is special in the sense that it only defines `country`, and no state and county?

If I can help addressing that let me know.

[2020-03-18 01:55] hyperknot commented on #78
I've created an ID system especially for these issues, have a look:
https://github.com/hyperknot/country-level-id

Kosovo would be **id0:XK**
For Congo there is **id0:CD** Democratic Republic of the Congo and **id0:CG** Republic of the Congo (id3).

**id0:PS** Palestine (id3)
 - **id1:GAZ** Gaza
 - **id1:WEB** West Bank

[2020-03-18 02:16] #116 closed

[2020-03-18 02:16] lazd commented on #116
@jgehrcke fixed! Give it a try.
[code]

[2020-03-18 02:57] lazd opened #121 "Add contributor field to scrapers, contributors page to website"
This could contain the github username or Slack handle of the person who contributed the scraper. That way we can link to them from the Sources page (and bug them on Slack when their scraper breaks 😈)

[2020-03-18 03:01] lazd commented on #121
I'm thinking:
[code]
@qgolsteyn @osvyg @camjc thoughts?

[2020-03-18 03:02] lazd opened #122 "Let scraper be an object keyed by scrapeDate"
[code]

It should match the closest date that is not greater than the current date.

[2020-03-18 03:31] #122 closed

[2020-03-18 03:49] lazd commented on #121
Once we have this data, we can generate a `Contributors` page for the website

[2020-03-18 03:51] greg-minshall commented on #78
nice!

i'll mention that [https://en.wikipedia.org/wiki/ISO_3166-2](url) ISO3166-2 includes "principal subdivisions" of countries, and, so, might be what you would use when they exist?  Gaza, for example, would be, by (my reckoning of) this, PS-GZA.

[2020-03-18 04:24] lazd opened #125 "If last item is a duplicate, it won't be removed"

[2020-03-18 04:28] lazd opened #127 "If scraper delivers population, findPopulation still errors"
Data is there, but error is printed

[2020-03-18 04:30] #125 closed

[2020-03-18 04:30] #127 closed

[2020-03-18 06:36] lazd commented on #115
Deployed! http://blog.lazd.net/coronadatascraper/#features.json

[2020-03-18 11:20] camjc commented on #97
[code]

[2020-03-18 11:46] camjc commented on #97
Has anyone got a plan for splitting the file up?

was trying something like
[code]

But not sure how to get the functions in-tact across the file writing. Open to any ideas (would hate to manually do this).

Above function goes toward the nested nature of /scrapers/COUNTRY/STATE/COUNTY where each level should end up being index.js for `undefined` of the groupBy.

[2020-03-18 13:42] S-Wallace-OH opened #128 "Clicking link on blog does not initiate download"
When you click a link to download one of the CSV or JSON files nothing happens. If you right click and open link in a new tab the download will begin. The only download link that seems to work properly is the Timeseries > CSV (Tidy Format)

Seeing this in Chrome Version 80.0.3987.122, works in older IE though.

[2020-03-18 16:25] raysalem commented on #17
the data is still wrong for san diego, and we might want something like this

what is the page https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/status.html -->

Positive Cases in San Diego County Since February 14, 2020Coronavirus Disease 2019 (COVID-19)Updated March 17, 2020
--
COVID-19 Case Summary | San Diego County Residents | Federal Quarantine

[2020-03-18 16:27] raysalem opened #129 "san diego data is wrong, format recently chaned"
aslo they have a rich set of data should we collector more?

the data is still wrong for san diego, and we might want something like this

what is the page https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/status.html -->

Positive Cases in San Diego County Since February 14, 2020Coronavirus Disease 2019 (COVID-19)Updated March 17, 2020
COVID-19 Case

[2020-03-18 16:54] lazd commented on #128
Fixed! Thanks for the report.

[2020-03-18 16:54] #128 closed

[2020-03-18 16:59] lazd commented on #129
Ok! Can you send a PR to fix it?

I'm not sure we can pull in the additional data at this time -- very few locations offer similar data, and I don't know if it makes sense.

[2020-03-18 17:14] DavidGeeraerts commented on #49
Getting an official metadata record for data.gov is going to take (me) a while. Went back to creating the metadata.md file so you can post on [your] website. I've started a Github organization called ["CoronaVirusDataTeam"](https://github.com/CoronaVirusDataTeam) --that was before the whole Coronavirus Response Data Team)-- and have a repo for docs. In there is the draft for [metadata.md](https://

[2020-03-18 17:15] lazd commented on #49
* `featureId` - The ID of the feature this location references (index in `features.json`'s FeatureCOllection)
* `aggregate` - Whether this data source provides aggregate information (i.e. this county-level data was scraped from a state-level source)

[2020-03-18 17:19] jgehrcke commented on #116
Thank you Larry!

[2020-03-18 17:23] Rathna-K opened #130 "GPS data seems off for some US entries, example below."
the below is an example of the timeseries.csv where the GPS location seems off even though the source link in the entry seems to have different i think?
[code]

[2020-03-18 17:27] Rathna-K opened #131 "Question: How is the data aggregated between for example CA state"
a few sources are listed for CA like the below and I thought the link https://github.com/CSSEGISandData/COVID-19 already provides all aggregated data so does that mean the others are duplicates but with more drilldown info like county etc.?

[code]

[2020-03-18 17:39] lazd commented on #131
Yes, the others drill down to the county level. That was the original goal on this project; get as granular as possible. You can view the data at https://blog.lazd.net/coronaglobe/#lat=37.685&long=-116.689

[2020-03-18 17:39] #131 closed

[2020-03-18 17:40] lazd commented on #130
So the GPS data is being determined by finding the center of the polygon representing the location. It's possible we got a different number than someone else; did you check to see if it still falls within Louisiana?

[2020-03-18 17:42] lazd commented on #114
Uhg, was just looking back into this issue and they've already had their second death. :'(

[2020-03-18 17:48] Rathna-K commented on #130
yes it is showing somewhere in Africa. :)

[2020-03-18 18:56] samirrayani commented on #97
@camjc I am looking into this now as well - my approach will be to use https://github.com/acornjs/acorn and https://github.com/estools/escodegen to parse the `scrapers.js` file and output a directory of scrapers as you suggested above

[code]

I'm working on a solution now and will update you as I make more progress

[2020-03-18 20:53] camjc commented on #97
Ah, of course. Smart! Obviously feel free to use any of my snippets above if at all helpful.  Good luck!

[2020-03-18 20:57] lazd commented on #97
@samirrayani awesome.

Thoughts on putting them in subdirectories vs a single directory with `CA-USA.js` and `Los Angeles County-CA-USA.js`? Better or worse?

[2020-03-18 21:32] StevenBryceLee commented on #114
County level records are available for cases, not deaths

[2020-03-18 23:03] hyperknot commented on #79
@jgehrcke can you get their county level data? As is visible on this page: https://www.coronavirus.jetzt/karten/deutschland/

[2020-03-18 23:08] jgehrcke commented on #79
@hyperknot I am working on that. There is no official credible non-PDF data source for county level.

The data you have linked is out of date.

Germany's data processing is stone-age, this needs to be done by volunteers in a structured fashion. I am on that, and I will expose time-resolved county-level data via https://covid19-germany.appspot.com, too.

Until then the country-level is good enough,

[2020-03-18 23:18] hyperknot commented on #49
I recommend keeping this very simple for now.

I think the ideal timeseries would look like this:
{
  "id2:ITX": {
    "dates": {
      "2020-03-17": {
        "cases": 2,
        "deaths": 0,
        "recovered": 0
      },
      "2020-03-18": {
        "cases": 2,
        "deaths": 0,
        "recovered": 0
      }
    },
    "source_url": "https://github.com/CSSEGISandData/COVID-19",
    "popul

[2020-03-18 23:24] samirrayani commented on #97
we have flexibility wrt directory structure; with >3k counties, I'm tempted to do subdirectories so it's easy to navigate but that _might_ be overkill. some sort of top-level README could also help facilitate this

[2020-03-18 23:58] hyperknot commented on #79
@jgehrcke of course, that a lot for the effort! I didn't think it'd be so difficult.

[2020-03-19 02:24] #130 closed

[2020-03-19 02:24] lazd commented on #130
Thanks for the report, I found the error and pushed a fix! New data will be deployed tonight.

[2020-03-19 02:24] #115 closed

[2020-03-19 04:15] jgehrcke commented on #79
Announcing the API that provides time series data for individual German states: https://gehrcke.de/2020/03/covid-19-http-api-german-states-timeseries/

[2020-03-19 05:00] JimBudde opened #138 "USA Colorado - New Data Link URL"
Colorado is now publishing their data at this link,
https://covid19.colorado.gov/data

[2020-03-19 07:50] lazd opened #142 "Node 12.x support"
Node 12.x is the stable target we should be running in production.

[2020-03-19 07:53] #138 closed

[2020-03-19 08:10] judepayne opened #143 "Cross checking of data"
Hi,
coming from [this issue](https://github.com/CSSEGISandData/COVID-19/issues/957) on the Johns Hopkins site.

Wondering if it would be a useful contribution to have cross-checking of data against a secondary source/s, e.g. vs the wikipedia entry before it's added to the timeseries data?

[2020-03-19 08:17] lazd commented on #143
Yes, ABSOLUTELY. We'd love to see various sources crosschecked. We already de-dupe, so it's a simple check to say "hey, there are two sources for this data, and the counts don't match." I'll implement this right now and include it in the report.

[2020-03-19 08:37] lazd commented on #143
![image](https://user-images.githubusercontent.com/201344/77047548-22478980-6982-11ea-83c6-ddd2e8b1adb7.png)

Thoughts?

[2020-03-19 08:41] judepayne commented on #143
Great!
My thought was that if the test fails, it could raise a morning-report style issue on the Johns Hopkins site for the suspicious/ failing subset. Then there are the prices where the scraper can't find a new value so fills in with yesterday's value. Those should be on the report, maybe even take the secondary source/ wikipedia value instead?
Sounds like you are on it! but please let me know i

[2020-03-19 08:48] judepayne commented on #143
That looks great!
Presumably the source with the highest rating is considered the primary.
You have all the data there to build the summary morning report/ alert I'd envisaged. I think that we need that summary alert of the fails to tell humans on the other end what they need to investigate.

[2020-03-19 08:48] #143 closed

[2020-03-19 08:52] lazd commented on #143
Yes, the source with the highest rating wins when duplicates happens. I pushed a report here: https://coronadatascraper.com/#report.json

It's under `scrape->crosscheckReports` -- I think it needs to be up-leveled to the top of the object...

[2020-03-19 08:53] lazd commented on #143
Eh, maybe it's fine where it is -- the check happens during the scrape, so it can be reported in the scrape's section of the report.

[2020-03-19 08:54] lazd commented on #143
@judepayne can you file another issue for any other functionality, like filing reports, slackbot, or anything else?

[2020-03-19 09:04] judepayne commented on #143
Will do! I've checked the report - perfect.
The main issue I find with the JH site is the backlog of PR's those guys have, and the time it takes merge those PR's - leaves the data incorrect often for days. So, the trick is to use this report optimally in their workflow so that PR's don't even have to get raised in the first place.
Do you know what notification would work best for their workflow? (

[2020-03-19 09:25] lazd commented on #143
TBH, I can't speak to that. They're completely overwhelmed..

[2020-03-19 09:26] lazd opened #144 "Features not found for HKG and MAC"

[2020-03-19 09:26] #144 closed

[2020-03-19 09:32] judepayne commented on #143
Yes - I have offered to help with their backlog of PR's.
Ok, I will file an issue here for posting the report to as an automated github issue since that makes the most sense to me.

[2020-03-19 10:03] Wikunia opened #145 "Tanzania has no country code"
I just came across that Tanzania does not have it's country code in the `timeseries.csv`.
It should be `TZA` but instead showing `Tanzania`.

[2020-03-19 10:05] judepayne opened #146 "Create github issue integration for cross-check report"
Please could we have an integration where the results of the cross-check report can be posted as a new issue to a configurable github repo?
The cross-check report is json. Please create from them an easy-to read text (.e.g. markdown) summary that can be posted as the body of the issue, for example:

Automated cross-check report: <date of time of the run>

Location | Type | Source 0 | Source 1 | ..

[2020-03-19 16:27] stevenqzhang opened #148 "Aggregate country level by setting the rest of the data to null"
Here's a suggestion:

We could have aggregate country-level data already done, if all the sub-fields are null

What I mean is:

Currently, for Italy, if county/city/state are all null, then the Country=italy rows give aggregate data for all the dates.

For China and US, however, that is not the case.

It would be great to backfill them (and/or write documentation on this effect) to "normalize" the

[2020-03-19 17:07] lazd commented on #148
@stevenqzhang absolutely. Right now, we manually make calls to `transform.sumData(regions)` to get a sum for the entire region. This is something that could be done once we're all done, totally automatically.

We discussed this earlier on slack: https://sars-cov-2covid-19.slack.com/archives/CV0MMQDRQ/p1584611369321800

[2020-03-19 17:14] Wikunia commented on #148
There is another issue with Australia where there are only two entries for country level Australia.
It would be nice to have get country level by setting the others level to NULL and the same for state level and county level.
This produces some extra rows but will be easier to parse. I'm very new to this repo but I think something like this has been done to decide which source is used already.

[2020-03-19 17:28] Wikunia commented on #148
Another option would be to just always use the city level if available then county and state and the country level.
Then one can simply aggregate over the required level.

[2020-03-19 17:34] qgolsteyn opened #151 "Add reporting for headless timeouts"
See #149

[2020-03-19 17:36] lazd commented on #146
This is a great idea. I don't know if issues are the right place. Effectively, we want a human to check the data manually and tell us which is right. We need to work with systems that humans who do that are familiar with. The folks at COVIDTracking have a full editorial process that something like this would slot beautifully into, and they've stated that they shy away from github issues for that b

[2020-03-19 17:41] lazd opened #152 "Add actual webpage URLs to scraper object as a separate field when source is raw data"
Some of our URLs are raw data sources, we should probably add human readable URLs to the scraper object so we can do things like direct users to their state or county website when they click.

[2020-03-19 17:45] #45 closed

[2020-03-19 19:32] lazd commented on #145
While you're in there, can you check the other regions that don't return a valid 3 letter ISO 3166-1 alpha-3 code?

"Tanzania"
"The Bahamas" "Gambia, The"
"Faroe Islands"

Might need to edit the override for Faroe Islands: https://github.com/lazd/coronadatascraper/blob/master/tasks/findFeatures.js#L55-L59

[2020-03-19 19:33] lazd opened #156 "Detail crosscheck report in page on the website"
A crosscheck report exists in `report.json` `scrape->crossCheckReport`. It should exposed on the website.

[2020-03-19 19:39] #142 closed

[2020-03-19 19:48] JiPiBi commented on #102
Data for France  from 1/1/2020  : Can help ?

Auvergne-Rhône-Alpes | 8 032   377
-- | --
Bourgogne-Franche-Comté | 2 783 039
Bretagne | 3 340 379
Centre-Val-de-Loire | 2 559 073
Corse | 344 679
Grand Est | 5 511 747
Hauts-de-France | 5 962 662
Île-de-France | 12 278   210
Normandie | 3 303 500
Nouvelle-Aquitaine | 5 999 982
Occitanie | 5 924 858
Pays de la   Loire | 3 801 797
Provence-Alpes-Côte

[2020-03-19 20:10] lazd opened #159 "Calculate MD5 hash of each fetched page and ensure that the content has changed from day to day"
We should report if it has not been updated at all. This would catch errors like the NJ dataset changing URLs but leaving the old one accessible.

[2020-03-19 20:14] Wikunia commented on #48
Maybe you can give a place where this can be done? Do you have a post-processing step?

[2020-03-19 20:16] lazd commented on #48
@Wikunia I believe @qgolsteyn is working on it. Thank you!

[2020-03-19 21:21] abdoulsn opened #161 "output reference for France"
Hello, How to modify french output files on this project, granularity levels are not correctly done.

[2020-03-19 21:38] claustres commented on #102
As far as I can see the mapping data https://github.com/lazd/coronavirus-data-sources/tree/0fde87fc468d8e9ac820f99223a6053e6e0e573f/geojson used are at the departmental level while the numbers your are talking about and the data processed by the scrapper are at the regional level. A region in France contains many departments.

Should we change the scrapper to process data at the departmental level

[2020-03-19 21:39] claustres commented on #161
Probably related to https://github.com/lazd/coronadatascraper/issues/102.

[2020-03-19 21:52] DavidGeeraerts opened #164 "Change request for timeseries.csv header/attribute name of "recovered""
@lazd
the [timeseries.csv](https://coronadatascraper.com/timeseries.csv) has a header/attribute of "recovered" with a data-type of date, which would make one think it's when the record was "scraped" i.e. recovered, but that is the language that the medical community is using for patient outcome = recovered. I'd like to suggest changing the header/attribute name to something else: i.e. _date-retrie

[2020-03-19 22:04] judepayne commented on #146
Right. Solving this task seems to be about getting a sustainable workflow which maximises automation and only raises the cant-be-resolved-automatically exceptions to people, or from what I've seen it's a case in drowning in request-to-fix X type requests.
We'll see if the Johns Hopkins repo maintainers are interested in getting help and in what form.

Perhaps for this issue, if you're interested a

[2020-03-19 22:29] liszto commented on #102
The data are available at a departmental level in the scrapper's source. OR maybe I missed something ? 🤔 so I think it could be easy to edit the scrapper to parse them instead of region.

[2020-03-19 22:40] qgolsteyn commented on #97
Closed with #137

[2020-03-19 22:40] #97 closed

[2020-03-19 22:42] qgolsteyn opened #167 "Move fetching population and mapping data to each scrapper"
We need to start giving each scrapper the responsibility for populating the population field and provide GeoJSON matching to keep our approach scalable to more regions/counties. This issue will track design decisions related to this goal.

[2020-03-19 22:43] qgolsteyn commented on #102
Data is available at the departmental level yes. We decided to start with régions first as they are the highest-level regional level (comparable to states in the USA). Department would probably be counties in the dataset (not the best term however).

There is no explicit mapping data for France right now. As @claustres mentioned, I think our best bet would be to go for https://github.com/gregoired

[2020-03-19 22:44] JiPiBi commented on #102
this link perhaps could help to get the link between departments and regions
https://fr.wikipedia.org/wiki/Liste_des_d%C3%A9partements_fran%C3%A7ais
in the chapter : Liste des départements

I seems to me that the region values are more reliable , I read a bit the departemental level with pandas , and I see much NaN

[2020-03-19 22:46] qgolsteyn commented on #161
Could you let me know which granularity you would prefer? The scrapper for France can be found here: https://github.com/lazd/coronadatascraper/blob/master/scrapers/FRA/index.js

[2020-03-19 22:47] NateBaldwinDesign opened #168 "Map label and legend"
Map needs some label to signify what it is showing. Since it’s a population based ratio, perhaps “Cases by percent of population”

Map also needs legend to display color scale with indication of what min/max values are relative to color

[2020-03-19 22:49] NateBaldwinDesign opened #170 "Map discoverability"
Need better link accordance for map. It is not intuitive to find map via the “Features.json” link in the menu. A dedicated area for Visualizations would be nice, with Global map listed as an item (if more visualizations are coming)

[2020-03-19 22:51] #145 closed

[2020-03-19 22:54] NateBaldwinDesign opened #171 "Map filters and options"
Filters:
Nice to be able to filter by country. This gives more fidelity to data when max is segmented by the region specified.

Options:
May be nice to expose options for visualization. First, would be nice to signify data- cases, recoveries, deaths. Secondly it would be nice to select the comparator- by percent of population, by percent of cases, total numbers, etc.

[2020-03-19 22:58] NateBaldwinDesign opened #172 "Add county level data for Wyoming"
Poor format for data but it is expressed here in a list:
https://health.wyo.gov/publichealth/infectious-disease-epidemiology-unit/disease/novel-coronavirus/

[2020-03-19 23:27] lazd commented on #164
@DavidGeeraerts whoa, sounds like a bug. I will look into it

[2020-03-19 23:47] lazd commented on #172
Closed by #e5c14cdc7b2e2e7c4d027340fb16f329562944f0 <3

[2020-03-19 23:47] #172 closed

[2020-03-19 23:54] lazd opened #174 "growthFactor NaN present in some files"

[2020-03-20 00:26] #174 closed

[2020-03-20 00:41] lazd commented on #121
Contributors is pretty vague... how about `engineer(s)`? This is going to appear in the data... I considered `scraperAuthor` but it's a little weird

[2020-03-20 00:45] qgolsteyn commented on #121
`author` takes a format similar to `package.json`, so I don't see it as being too vague. `maintainer` could be an alternative.

[2020-03-20 00:46] lazd commented on #121
`maintainer` speaks to me... If I saw raw CSV data with an `author` field, it would be confusing...

[2020-03-20 01:20] ryanblock commented on #121
Personally I prefer `authors` since there are potentially many ways to contribute, such as pointing out a URL changed (but not actually writing any code). Either is fine though, pick whatever you like best and let's roll with it!

[2020-03-20 03:02] #121 closed

[2020-03-20 03:45] lazd opened #179 "Add scrapeDate column to data"
This has been requested a few times, and it seems to be required now that we might release data with stale timeseries data...

[2020-03-20 04:21] jocooper43016 opened #182 "NY Times County Data For All US"
Possible source?

https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html#g-cases-by-county

[2020-03-20 05:35] lazd commented on #182
Interesting @jocooper43016, I wonder if they're going to keep it up to date, and if they're sharing their data.

[2020-03-20 05:49] lazd opened #183 "Ability for scraper to push errors down the pipeline without throwing"
A couple ways this could work:

1. Scraper called with `errors` array as an argument that can be pushed to (feels weird man)
2. Scraper called with `this = { errors: [] }` (breaks a lot of scrapers)
3. Scraper called with `region` array as an argument you can push data to, can throw at any time (i.e. throw at the end of the scraper to indicate a non-fatal error)
4. Other ways?

[2020-03-20 05:49] lazd commented on #183
@qgolsteyn @ryanblock thoughts?

[2020-03-20 05:50] lazd opened #184 "Check if cases, deaths, or recovered go to zero when they were non-zero the day before"

[2020-03-20 05:51] lazd opened #185 "Check if deaths <= cases <= tests"
If data is provided the above check must be true, or the data is invalid

[2020-03-20 06:22] jbencina commented on #185
I thought about this a bit more and it may not work for a single day. I think you'd have to look at this cumulatively since most places are reporting active cases while deaths and tests are cumulative.

[2020-03-20 08:04] Wikunia commented on #185
Additionally check that deaths are not decreasing. At least then something needs to be double checked.

[2020-03-20 09:25] lazd opened #189 "Show sources of sources when using aggregate sources"
If we have an aggregate, curated source that also cites its source, we should put that data on the Sources page on the site.

source. There, I said it one last time.

[2020-03-20 09:28] claustres commented on #102
@liszto No the current scrapper works at region level. The problem is that data for departments is not yet reliable and has a lot of holes so best bet is region now.

Moving mapping matching to each scrapper seems to me the right way to go, just as each scrapper is responsible of its own data part in the global dataset. The scrapper might simply return a GeoJson geometry (point or polygon). As men

[2020-03-20 09:39] claustres commented on #161
See my [comment](https://github.com/lazd/coronadatascraper/issues/102#issuecomment-601605950)

[2020-03-20 09:40] Wikunia commented on #148
Otherwise we would introduce errors like the county level does not sum up to state level.
If there is state level data then we don't need country level data as it should be matching anyway. It would also reduce the size of the csv even though this is not important atm.

[2020-03-20 10:20] feliperoberto commented on #179
I saw https://github.com/lazd/coronadatascraper/commit/efc561e6d23b054f33b41ce8c67ac904983a1628 , what still should be done?

[2020-03-20 12:37] Wikunia commented on #148
This is the one thing breaking my visualization. If a decision is made about how to aggregate the data I can have a look into this and then use the data for my visualization.

[2020-03-20 12:48] Wikunia commented on #79
Data per county is available here https://npgeo-corona-npgeo-de.hub.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0

[2020-03-20 12:52] Wikunia commented on #79
This data is only a snapshot of the current state so don't know how to create a timeseries for it

[2020-03-20 12:53] hyperknot commented on #79
All our sources are only snapshot, the scraper takes care of saving previous history.

[2020-03-20 13:04] Wikunia commented on #79
As there is a scraper for DEU already what is the best way to add this? Adding another folder in scrapers?

[2020-03-20 13:09] hyperknot commented on #79
I don't know, we should ask @lazd about that.

[2020-03-20 13:17] JimBudde commented on #185
I don't think you can say the data is "invalid".  It is what it is at this point.  Reporting delays, etc are likely to cause some odd reporting of numbers.  I have simply been telling folks, expect to see odd numbers from time to time and hopefully it will clear up over a few days time, e.g. when cases were 'transferred' from cruise ships to countries.  my 2c.

[2020-03-20 13:20] JimBudde opened #192 ""Total Number of Positive Cases County" for NY state"
Looks like NY state scraper logic may be capturing this by mistake.  I am simply filtering it out of my analysis for the time being.

[2020-03-20 14:40] hyperknot opened #194 "use ISO 8601 date format"
I recommend using [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date format.

For date it'd be: `2020-03-20`
For time it'd be: `2020-03-20T13:25:45`

This is the industry standard for human and machine readable dates. We are basically almost doing it, but are missing the leading 0-s.

The advantage of iso dates is that all programming languages and all date libraries have built-in, tested fun

[2020-03-20 14:42] ktice opened #195 "Delaware, USA only has three counties"
The current data lists 6.   The correct counties are New Castle, Kent, and Sussex.  Nice work on this btw!

[2020-03-20 15:09] Wikunia commented on #79
Hi @jgehrcke yes I just found the data and created a scraper out of it without thinking too much about it :smile:
I think this community effort is awesome but it creates overlapping things like this where one can't precisely define which one is better.
Maybe some people want the rki data as a reliable source which lags behind a bit but in a few weeks this doesn't matter anymore. The county level m

[2020-03-20 15:34] qgolsteyn commented on #161
Closing to move the conversation to #102

[2020-03-20 15:34] #161 closed

[2020-03-20 15:56] qgolsteyn opened #197 "Ensure Status CI reports a failure when they occurs"
Unhandled exceptions in Node Promises don't result in the script returning an error code back to the shell. Detect these errors and ensure the script still sends a Slack message when these error occurs.

[2020-03-20 18:44] claustres commented on #102
If you'd like to have an idea we publish GeoJson with the data here https://github.com/kalisio/covid-19.

[2020-03-20 19:40] reyemtm opened #199 "Any thoughts to adding Census FIPS codes to US Counties?"
It's not clear how people are joining the US county data to the county geography. I can only guess people are either doing point in polygon joins or using the county and state name. [FIPS](https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html) codes could be used and is standard practice in GIS. The county data available at https://github.com/topojson/us-atlas already

[2020-03-20 20:50] camjc opened #201 "Establish reasonable upper bounds to warn at"
Not sure the value of this, but we could look at the day on day multiplier and make sure it’s under some threshold. I guess look at historical data and add some padding. Eg if cases goes up 10x in one day there’s potentially some weird scraping.

[2020-03-20 20:58] camjc opened #204 "Check if count of things scraped goes down"
I suppose a scraper should be counting the same number of states/counties, as well as the same number of data points day-to-day. We could warn if this goes down, and maybe if it goes up too (but countries may have an incomplete table since some states without cases?)

[2020-03-20 21:30] hyperknot opened #205 "Consider bus factor"
After today's meeting I just wanted to raise a very simple point: due to the nature of this project, we should aim to make it as simple as possible so that multiple team members understand each part.

Based on the nature of this project, core mainteiners can be out of reach for up-to-2-week periods while the rest of the team need to replace that person.

Picking any technology in our stack which r

[2020-03-20 22:19] lazd opened #207 "Notify curators via email if cross-check fails"

[2020-03-20 22:19] lazd commented on #192
Ok, that's exactly what is happening. We'll look into it.

[2020-03-20 22:21] lazd commented on #195
Ok, it looks like the scraper is getting additional information from Delaware, likely a combined county situation due to hospitals being shared. This data shouldn't be hurting anything, but it might mess with the totals of Delaware itself...

Can you shed some light on what the other 3 "counties" are supposed to represent?

[2020-03-20 22:22] lazd commented on #194
Yes, absolutely. See #42 and #48

[2020-03-20 22:25] veyEskelson commented on #199
Yes, Iv'e been using spatial join to get the data in polygon form.They are programmers more then GIS mappers. FIPS is a US Census Standard, no a world standard.  Other nations also have a unique identifier code for their State/counties/provinces/districts/etc.
To add the GEOID10 (State FIPS code and County code) seems a bit much to do for just the USA. A bit of research would have to be done to po

[2020-03-20 22:38] lazd commented on #199
Yes, point in polygon name name matches. I'd love to standardize on this. It will be a significant effort to add it to every scraper -- it will need to include the code in its returned output. Or, we can post process after the fact (match on county/state, add the FIPS code).

@hyperknot, thoughts?

[2020-03-20 22:52] veyEskelson commented on #195
Pea Patch island- in New Castle County
Reedy island - in New Castle County
DE/NJ- Likely represents Metropolitan/Micropolitan Area or Combined Statistical Area.

[2020-03-20 22:58] hyperknot commented on #199
FIPS code is a good idea and can be a standard for US. The best would be combining the state's ISO 3166-2 code with FIPS 6-4.

So for example, Santa Clara would be `fips:US-CA-06085`.

For other countries, it'll all be a very different system, this cannot be standardised. We can settle on a form of `idsystem:country-state-county` code style though.

---

Now about point-in-polygon I don't really u

[2020-03-20 22:59] jgehrcke commented on #79
Okay, thanks @Wikunia.

If in a couple of weeks it turns out that as of certain developments we'd like to switch the data source then we can certainly do this. I am not married to maintaining a data set :D, there are nicer things in life. However, focusing on the next days, though, for keeping the momentum (and supporting the momentum with _quality_ data!), let's keep using the fresher data as pub

[2020-03-20 23:03] hyperknot commented on #199
I'm not in the US so I have no background on this, but wiki says that FIPS is now deprecated:
https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code

[2020-03-20 23:11] hyperknot commented on #199
OK, from what I've read in Wikipedia FIPS county code is still the standard way of referring to counties. Also it is the only way what https://eric.clst.org/tech/usgeojson/ dataset contains for the GeoJSONs.

[2020-03-20 23:32] hyperknot commented on #205
+1 point here is what will happen to the data in 5 years from now. AWS credits will be over in a year or so and then someone would need to pay for all the AWS infrastructure, just to keep historical data running.

[2020-03-20 23:49] hyperknot opened #208 "move coronavirus-data-sources to main repo"
What do you think about including it in the main repo instead of submoduling int? I believe the datasources is not that big, especially if we move to country-level-ids. It's rarely changing and would speed up the development process if it was included in the main repo.

[2020-03-20 23:59] qgolsteyn commented on #208
I would support this change. @lazd what do you think?

[2020-03-21 01:30] qgolsteyn opened #212 "Add schema functions to a separate file"

[2020-03-21 01:44] qgolsteyn commented on #197
Closed with #209

[2020-03-21 01:44] #197 closed

[2020-03-21 01:46] qgolsteyn commented on #185
If implemented, can be added as a step in the `steps` folder, most likely called `validate.js` or something similar.

[2020-03-21 01:58] hyperknot opened #214 "State level higher-quality data"
For example in Australia, AUS includes ACT, but AUS/ACT includes a more up-to-date data.

We need to think about how to handle it, including the `sumData()` step, which is not correct now.

My idea is to remove all kind of hierarchy between scrapers, just make a list of them. Then after scraping we can process the data and put it into hierarchies and override better quality data and finally calcul

[2020-03-21 03:46] ryanblock commented on #205
Redundancy and accessibility of our stack is def important, as is minimization of domain specific knowledge. For example: deep knowledge of AWS, GCP, Kubernetes, etc. should not be required to build. (This is, unfortunately, a curse of much of our industry at this moment.)

Fwiw, we shouldn't kid ourselves: GitHub Actions, for example, requires its own domain knowledge. Fortunately lots of folks h

[2020-03-21 04:13] veyEskelson commented on #199
Adapting the system work for other counties?
Example:
United Kingdom Local Authority Districts/Region   (nine character codes):
Geography Entity Code
E England
S Scotland
W Wales
N Northern Ireland
K Cross-border Instance
J Experimental
ex:
E41000008 | Blackburn with Darwen
http://geoportal.statistics.gov.uk/

[2020-03-21 05:20] reyemtm commented on #199
Really liked the idea of ``country-state-county code``, makes me wonder how is this not already established. Is this really the first world wide dataset with sub-state/province level detail?

[2020-03-21 10:41] hyperknot commented on #199
@veyEskelson if you have local knowledge in the UK, feel free to open an issue in https://github.com/hyperknot/country-level-id so we can add it as id4. I'll add US counties as id4.

The currens ones are:
id0:GB United Kingdom (id3)
id1:ENG England
id1:NIR Northern Ireland
id1:SCT Scotland
id1:WLS Wales

[2020-03-21 15:44] Wikunia opened #225 "France missing recovered data"
@samirrayani I saw that you have implemented the France scraper. Unfortunately the repository seems to miss the recovered cases. Maybe they can be included using the JHU data? @lazd

[2020-03-21 17:17] samirrayani commented on #225
I don't have any specifics for that scraper. I was involved with refactoring `scrapers.js` into multiple files so that's why my name was attached to changes in the file: https://github.com/lazd/coronadatascraper/pull/162

[2020-03-21 17:21] Wikunia commented on #225
Thanks I think it might be @osvyg then?

[2020-03-21 17:35] lazd commented on #208
I could be into this. Two things:

1. Note that, we do use another submodule within `coronavirus-data-sources` as well, that could complicate things.
2. We ideally want to move population data into the scrapers themselves

[2020-03-21 17:36] lazd commented on #195
Ok, do you think the data for New Castle County already includes Pea Patch and Reedy Island? If so, we can discard it. We can likely discard the DE/NJ data too, yes?

[2020-03-21 17:40] hyperknot commented on #208
I disagree with this part. Population data will be a tiny JSON file, much better to manage centrally. I have it globally for down to state-level, for county level we can use https://eric.clst.org/tech/usgeojson/ to have it for all counties.

[2020-03-21 17:52] lazd commented on #208
@hyperknot ok, I'll default to you on that. Note that we have a CSV I pulled from census data with population. Eric's GeoJSON, which we are already using for county-level GeoJSON, does not include population data.

[2020-03-21 18:00] hyperknot commented on #208
Oh, then that whole webpage is nothinig more than shp2geojson on the shapefiles? Not impressive.

OK, for county that CSV file is perfect I believe. For the other ones, I give a JSON.

[2020-03-21 18:21] lazd commented on #208
@hyperknot can we roll that CSV into your repo so it can be delivered in the same manner as the state/country-level data?

[2020-03-21 18:23] hyperknot commented on #208
@lazd yes, I was thinking of that. Making the counties into GeoJSON + the CSV into JSON. I'm going to submit a PR for the state level ones, that one comes after.

[2020-03-21 19:39] chunder opened #233 "Scraper status slack message should report & compare total case counts"
So we seem to be counting more total cases for the USA than other sources. If I sum up all the cases in all the counties we are scraping, I get 21.7k. If I sum the state level counts, which we source from covidtracking.com I get 17.1k. The USA level number which we also source from covidtracking.com is 17.0k.
21,681 cases summed from all county level cases that we scrape
17,133 cases summed from s

[2020-03-21 19:41] chunder opened #234 "Support groupings of counties"
At least Idaho and Utah USA seem to be reporting case counts for small collections of counties. I think I've noted other states doing this.

Utah has the "Tri County Area" which contains 3 counties. They report a single case count for all 3. The current scraper divides it by 3 and distributes it to each underlying county. This is sort of misleading and weird.

Maybe we could support assigning a ca

[2020-03-21 19:44] chunder opened #235 "Can geography.addEmptyRegions already know the full list of counties (USA) ?"
Right now there's a bunch of tedious and possibly error prone work to curate a list of all counties in a state. This list is passed to geography.addEmptyRegions so that it can assign 0 counts to all regions not otherwise reported by a state.

But the list of all counties in each state is available in `coronavirus-data-sources/population/population-usa-counties.csv`. Can we provide a convenience me

[2020-03-21 19:50] ryanblock opened #236 "Production infra plan"
## Brief

As we prepare to build what's currently called `CDS` into a more expansive end-user facing web application and set of APIs, we will begin moving this project into cloud infra (AWS).

Infrastructure-as-code will be provisioned via Architect, and crawling activity will become increasingly parallelized, writing back to the de facto blob store (S3).

## Objectives

- Complete a move onto AWS

[2020-03-21 20:19] lazd commented on #236
I think this moves us in the right direction without interrupting the current developer workflow. The work done in #224 is non-invasive and will give us a chance to run the existing deployment side-by-side with AWS until we're ready to switch.

As we do the work in step 4, we'll get to re-approach what we do with errors, warning, scraper failures, and cross-check reports. This will be a welcome ch

[2020-03-21 21:38] #170 closed

[2020-03-21 21:58] hyperknot commented on #208
@lazd can we do this? This submodule-ing is breaking master now for example, that brazil file is missing from the master repo's version.

[2020-03-21 22:01] hyperknot commented on #208
I've found an answer that Git can now track the master branch in a submodule, so that might be a promising solution for us: https://stackoverflow.com/a/9189815/518169

[2020-03-21 22:08] hyperknot commented on #208
This SO answer mentions how to make an existing submodule auto-update, so maybe

[code]

would work.

[2020-03-21 22:46] HerbCaudill commented on #42
Moment & Luxon etc. are great for what they do, but **they don't solve the problem we're having here**, which is that most of the time we don't care at all about times or time zones and we just need to work with stripped-down dates.

I've been down this exact road before (hand-rolled date functions -> moment.js -> js-joda) with [my company's product](devresults.com). The happy place we ended up at

[2020-03-21 22:57] hyperknot commented on #42
@HerbCaudill we definitely need to care about timezones throughout this project. Soon timezones will be everywhere. We will run scrapers say hourly, and then want to transform the acquisition time to local time for every locale we are working with.

We definitely need a reliable and tested date library which handles timezones perfectly.

[2020-03-22 00:10] HerbCaudill commented on #103
this is fixed by #228 and https://github.com/lazd/coronavirus-data-sources/pull/8 . Problem was that data is reported by Comunidad Autónoma, but geojson only showed Provincias.

[2020-03-22 00:21] HerbCaudill commented on #42
@hyperknot For those cases, then, you can use joda's ZonedDateTime, which works beautifully.

The value of the date field in a timeseries is what's responsible for most of the messiness we're dealing with; that's always going to be just a date, because no one is actually reporting at a finer temporal resolution that that.

With Moment.js, Luxon, etc. there's fundamentally no way of getting away fr

[2020-03-22 00:25] lazd commented on #235
Absolutely possible. I already did something like that in another branch while testing a curated data source: https://github.com/lazd/coronadatascraper/blob/sarasource/scrapers/SARASOURCE.js#L51-L57

[2020-03-22 00:25] hyperknot commented on #42
I'm not sure I understand. Let's say we implement hourly scraping, and then we want to reconstruct the latest daily values from this. So we'd have a scrape_time in UTC in a database or S3 for example.

Now we want to convert this to local time, to know which day was it in. How would you do that in joda?

Also, does it support fromISO(), toISO() and toISODate() like methods?

[2020-03-22 00:30] HerbCaudill commented on #42
In that case you would timestamp the scrapes with a ZonedDateTime, which is explicitly designed for that purpose.

[2020-03-22 00:30] HerbCaudill commented on #42
Yes

[2020-03-22 00:35] hyperknot commented on #42
OK, I've checked those methods and all seem to be supported. If in your opinion js-joda-timezone is production ready, I'm happy to recommend using this throughout this project.

BTW, scrape time will soon be ISO date, so your logic could be simplified in the future.

[2020-03-22 00:42] HerbCaudill commented on #42
More on Moment's inability to represent a date without a time or vice versa:

https://github.com/moment/moment/issues/3455

[2020-03-22 01:09] hyperknot commented on #42
OK, I'm happy to support js-joda, especially if @HerbCaudill helps us in some initial problems we might encounter.

[2020-03-22 01:40] lazd opened #242 "New York County data is actually showing data for all of New York City"
This is totally incorrect. We need a GeoJSON object for the entire area of New York City, and we need to sum the populations of the counties inside of it.

[2020-03-22 03:28] #242 closed

[2020-03-22 04:11] chunder opened #245 "Alaska is collecting/reporting based on "economic regions" not counties"
AK is only reporting 6 “economic regions” which may or may not map to collections of counties. These regions seem important in their normal governance beyond covid19. We might want to consider adding these regions geographical features.

These pages probably have the GIS shapes for the economic regions:

https://dcra-cdo-dcced.opendata.arcgis.com/datasets/alaska-economic-regions (edited)
http://li

[2020-03-22 07:02] lazd commented on #192
I believe this is fixed, let us know if it pops up again!

[2020-03-22 07:02] #192 closed

[2020-03-22 07:03] lazd commented on #234
Alright, I implemented this, but I'm not happy with the implementation because it's US-centric. See NY: https://github.com/lazd/coronadatascraper/blob/master/src/events/crawler/scrapers/USA/NY/index.js#L108-L117

Thoughts?

[2020-03-22 07:56] camjc commented on #194
There’s some work in one of the current PRs to consume using js-joda, might be worth you having a CR mate :)

[2020-03-22 10:59] HerbCaudill opened #250 "Proposal: Crawl timeseries separately"
For sources without timeseries data, we're building a synthetic timeseries from periodic crawls, which is a brilliant hack.

Scrapers for sources that _do_ have timeseries data, however, currently have to deal with a lot of complexity and weirdness that comes from trying to use all the scrapers in the same way, with the SCRAPE_DATE environment variable etc. Just glancing through the scrapers, betw

[2020-03-22 15:17] martiL opened #253 "We are building a RESTful-API based on your datascraper :-)"
Thanks for this great project!

In the course of the hackathon "https://wirvsvirushackathon.org/ " we are implementing a RESTful web service that uses the scrapper to provide the data. We have developed a landing page to make it easier for many interested people to implement a scraper or/and use our API

check it out:
https://corona-api-landingpage.netlify.com/

[2020-03-22 16:14] chunder opened #254 "2D map not properly filling the browser window"
I am seeing the 2D map not properly filling the browser window. I see this on both desktop and mobile. Resizing the browser or reloading the page seems to fix it.

![image](https://user-images.githubusercontent.com/50395/77254309-8043cd80-6c1d-11ea-86e5-2a429b4f9399.png)

[2020-03-22 16:37] ndom91 opened #256 "New HTTP API based upon the data gathered here"
Hi All,

Just wanted to let you guys know, we created an API based upon the data gathered here. We clone the repo daily, run it, and store the results on a server.

From there users can query it like any other HTTP JSON API. We only have a few endpoints / filtering options, but we're always open for suggestions / PRs :)

We linked to you guys a few times from our landing page and gave a little int

[2020-03-22 16:47] lazd opened #258 "`death` and `certValidation` leaking into snapshot data"

[2020-03-22 17:13] lazd opened #259 "Capture timezones in location metadata"

[2020-03-22 17:13] lazd opened #260 "Update timeseries to cast dates to locale"

[2020-03-22 17:14] lazd opened #261 "Add scrapeTime and localTime column to JSON and CSV output"

[2020-03-22 17:25] dadosch commented on #79
Please see https://github.com/corona-zahlen-landkreis/corona_landkreis_fallzahlen_scraping/tree/master/landkreise/data
We scrape county's website to have a more up to date data per county or in finer levels. The identifier is the official identifier https://de.wikipedia.org/wiki/Amtlicher_Gemeindeschl%C3%BCssel

[2020-03-22 17:37] HerbCaudill commented on #261
I'll take this

[2020-03-22 17:38] ryanblock commented on #42
Would like to advocate for [`spacetime`](https://github.com/spencermountain/spacetime) (cc @spencermountain!) but anything that's relatively lightweight should get the job done. It just needs to be able to re-cast a time + IANA tz string to a normalized date stamp (specifically `YYYY-MM-DD`)

Here's the impl from my previous prototype that I showed earlier today:
- https://github.com/covidatlas/co

[2020-03-22 17:43] hyperknot commented on #42
@ryanblock the code you linked to is the definition of hand-rolled time formatting code.

The point of Luxon is that they have super reliable and well tested tested `fromISO()`, `toISODate()` and `toISO()` methods. joda seems to have the same functions.

[2020-03-22 17:52] lazd opened #262 "source is sometimes plural, sometimes not"
In data output this results in 2 columns

[2020-03-22 17:57] #258 closed

[2020-03-22 17:57] #259 closed

[2020-03-22 17:57] #262 closed

[2020-03-22 17:59] lazd opened #263 "maintainers/curators/sources are showing up as JSON within the CSV"
![image](https://user-images.githubusercontent.com/201344/77256524-2b5b8380-6c2c-11ea-9528-75c20fe188cb.png)

[2020-03-22 18:04] lazd commented on #254
@chunder what browser is this? Does it happen consistently if you visit https://coronadatascraper.com/#features.json directly vs visiting https://coronadatascraper.com/ and accessing it from the menu?

[2020-03-22 18:05] HerbCaudill commented on #42
here's what that looks like in js-joda FWIW:

[code]

[2020-03-22 18:05] lazd commented on #254
Reproduced in Firefox -- looks like it only happens when you visit the https://coronadatascraper.com/#features.json directly

[2020-03-22 18:11] chunder commented on #254
That agrees with my experience, yes. Also, this seems to be a new issue. I only noticed it yesterday night, when the "Percent of population infected" legend appeared.

[2020-03-22 18:12] debusklaneml opened #264 "VA is available by county"
You can likely scrape this information here: http://www.vdh.virginia.gov/coronavirus/

[2020-03-22 18:14] #254 closed

[2020-03-22 18:15] lazd commented on #254
Fixed and deployed!

[2020-03-22 18:41] lgeorge-idm commented on #185
This may not work at all.
* Deaths may be for individuals that were never tested, but were reported based on symptoms and/or post-mortem examination.
* # of tests can be # of samples or # of individuals. Best practice is to run at least 2 samples per individual.

[2020-03-22 18:51] chunder commented on #234
That API looks great. It should be effective in most of the cases we found where numbers are being rolled up across small groups of counties.

[2020-03-22 20:14] Jord-Holt commented on #263
This appears to have been addressed? Went out to site and am no longer seeing this issue.

[2020-03-23 03:50] qgolsteyn commented on #263
Addressed.

[2020-03-23 06:14] Jord-Holt opened #273 "Development Roadmap?"
Given the speed at which this project has ramped up over the past days/weeks. I think the need for a formalized development roadmap will soon become necessary. We will likely see many more people getting involved in this project and it will become imperative that we have guidelines/goal posts established to help us identify what tasks/issues our focus should be in so that we do not have developmen

[2020-03-23 10:42] martiL commented on #79
@lazd Is there are a data scraper for german regions? I see open pull request but I don't see it in the data

[2020-03-23 11:36] hyperknot opened #275 "Crowd sourcing help needed for JHU region mapping"
We'd need some crowdsurcing help to complete the following table, by looking up codes from the country-level list. I made a Google Spreadsheet we can edit together. Instructions should be visible on the right side.

### [crowd-sourcing spreadsheet](https://docs.google.com/spreadsheets/d/104yioHblyT-Sfiv6AyOfQc9xnPLFo6W76Ma_sXLMtBM/edit?usp=sharing)

### [country-levels list](https://github.com/hyp

[2020-03-23 12:39] chunder opened #276 "Website didn't update Sunday night 3/22. On Monday 3/23 the site still shows 3/21 data."
My fix for Miami-Dade county was merged yesterday, but it’s showing 0 cases on the site right now. When I run FL locally, it’s getting the right data: { county: 'Miami-Dade County', cases: 227, tested: 1801, deaths: 0 },

[2020-03-23 13:31] chunder commented on #276
I also note that the time series csv shows 3/21 as the last date.

[2020-03-23 14:43] jeffchenoweth commented on #275
Do you just want all the county fips codes in the US?

[2020-03-23 14:56] jgehrcke commented on #79
Should be a matter of hours now. We iterated on the implementation quite a bit.  https://github.com/lazd/coronadatascraper/pull/196

[2020-03-23 14:57] hyperknot commented on #275
We've been discussing this on the Slack channel. The conclusion is the following:

- id0, id1, id2, id3 where possible, these are from Natural Earth and guaranteed to be public domain and have Wikidata links which means up-to-date population information

For US, FIPS codes for counties with state code, so that we can use Census datasets, so it'd be `fips:CA-06085`

For the rest of the world, HASC,

[2020-03-23 14:59] jeffchenoweth commented on #275
I'm wondering if you are only missing the ones listed or if you need all of them - there are way more US counties than listed in that sheet.

[2020-03-23 15:06] jeremyruple opened #277 "Oregon data - death counts incorrect"
It appears Oregon data is counting negative test cases for the counties as deaths. Reading from the wrong column.

[2020-03-23 15:30] hyperknot commented on #275
We only need to map from JHU strings to something consistent. For our own county scrapers we can use the reference list.

[2020-03-23 15:39] jeffchenoweth commented on #275
OK, done for US Counties.

[2020-03-23 16:03] lazd commented on #276
On it!

[2020-03-23 16:23] prem121121 opened #279 "Yarn issue"
I am getting this error when the command "yarn install" or "yarn start" are run.
"Yarn requires Node.js 4.0 or higher to be installed."

I installed Node.js and Yarn as well. please assist. thanks

[2020-03-23 16:25] DavidGeeraerts commented on #264
[Slack](https://sars-cov-2covid-19.slack.com/archives/C0101BDEEDV/p1584978383008400)

[2020-03-23 16:55] jeremyruple commented on #277
Looks like this issue has been fixed in the scraper, just not showing updated results quite yet in the snapshot data.

[2020-03-23 16:55] #277 closed

[2020-03-23 16:58] martiL commented on #79
@jgehrcke
I am so grateful for everything you do! We are trying to create a landing page and API to make it easier for people to consume and contribute data to this amazing project :-)

https://corona-api-landingpage.netlify.com/

[2020-03-23 19:50] tautme opened #282 "Arkansas Data"
Hello,

Thanks for your work in this time of change.

I notice your data on Arkansas, USA is not at the county level. They have been changing their website.

I am in contact with the Arkansas Health Department and wondered if you could recommend the  best practice format, for you to collect county level data?

They are also reporting the number of negative cases. Will you consider collecting negat

[2020-03-23 20:04] lazd commented on #279
It sounds like you have some node issues. Unfortunately, we're too busy to walk you through this and it is not an issue with the project. Please check StackOverflow and other resources.

[2020-03-23 20:04] #279 closed

[2020-03-23 20:04] lazd commented on #279
You might try using `nvm` to manage your installed version of node.

[2020-03-23 20:04] lazd commented on #276
Updated!

[2020-03-23 20:04] #276 closed

[2020-03-23 22:02] hyperknot opened #286 "Move to HASC and FIPS codes, use GADM?"
So HASC codes seem to be the best way to refer to international regions. They look like `ES.CL` for the Castile and León (CL) region within Spain (ES). For US we have FIPS codes.

I've looked more and more into this one and I see that GADM really is the highest quality geospatial dataset out there, and that HASC codes are clearly the best for our use case.

There are some critical questions:
1. Ca

[2020-03-23 22:48] #205 closed

[2020-03-23 22:48] hyperknot commented on #205
I think we are on the same page in this, thanks for the clarification.

[2020-03-23 23:12] alexmill opened #290 "Illinois data and source out of date"
Illinois publishes their county level data here: http://www.dph.illinois.gov/covid19

The currently used source for the raw data is here, which hasn't been updated since 3/17: http://www.dph.illinois.gov/sites/default/files/COVID19/COVID19CountyResults.json

It appears they keep changing the name of the URL each day, without even saving all intermediate days. Today's JSON data is available here: h

[2020-03-23 23:52] lazd commented on #286
@hyperknot this is way out of my wheelhouse, I will defer to whatever you determine is the best way to do it. Thanks for doing the hard work!

[2020-03-24 00:06] paulboal commented on #282
@tautme - Is there a publicly available source for that data?  The website here doesn't make it very easy to access and doesn't include negative counts: https://www.healthy.arkansas.gov/programs-services/topics/novel-coronavirus

[2020-03-24 00:24] lazd commented on #290
Oh no! That's annoying, but we can work around it. @qgolsteyn wrote a scraper that has different URLs each day, it's a pain, but we can do it. As far as back-filling data, we have a strategy on that too, but it's still in the works.

@qgolsteyn can you work with @alexmill to get the scraper updated with a daily changing URL?

[2020-03-24 00:24] lazd commented on #273
See #236 for some insights!

[2020-03-24 00:25] lazd commented on #234
Sweet. Can we call this closed? I know you applied it for AK, you eventually got it working, yes?

[2020-03-24 00:28] chunder commented on #234
Yup

[2020-03-24 03:01] tautme commented on #282
@paulboal  Sorry, They just moved all the data to an arcgis dashboard in the "Status Updates" link. The negative cases are there.
https://adem.maps.arcgis.com/apps/opsdashboard/index.html#/f533ac8a8b6040e5896b05b47b17a647
Could you give me an example of a website that is easy to access, data? Is the Texas site easy to scrap? https://dshs.texas.gov/news/updates.shtm#coronavirus

[2020-03-24 03:36] ryanblock commented on #273
Not nearly sufficient, but also: https://docs.google.com/document/d/1Kr6tybWx70pro6rApaYrDd1M58POcCWk5JzxEa-4S_8/edit

We'll be working to shore up internal comms around this asap! Many plates in the air atm.

[2020-03-24 03:42] lazd commented on #282
Closed by https://github.com/lazd/coronadatascraper/pull/293, AR is now on the map!

[2020-03-24 03:43] lazd commented on #264
Closed by https://github.com/lazd/coronadatascraper/pull/281, thanks @aed3!

[2020-03-24 03:43] #264 closed

[2020-03-24 03:43] lazd commented on #245
Thanks for implementing this!

[2020-03-24 03:43] #245 closed

[2020-03-24 03:43] ryanblock opened #295 "Refactor to separate concerns between crawling/scraping and data processing"
In order to facilitate the move to production infra and a more resilient app architecture, we're going to separate out crawling + scraping from post-processing.

Given the following, please also assume the application must continue to run is!

For the purposes of this exercise, let's assume the following folders:
- `src/events/crawler`
  - responsible for everything related to fetching and scrapin

[2020-03-24 03:43] #282 closed

[2020-03-24 03:45] lazd commented on #295
This is 100% how this should work, and we're already halfway there with the refactoring work @qgolsteyn has done.

[2020-03-24 03:45] ryanblock commented on #236
Followup: https://github.com/lazd/coronadatascraper/issues/295

[2020-03-24 03:45] ryanblock commented on #273
A followup: https://github.com/lazd/coronadatascraper/issues/295

[2020-03-24 04:03] qgolsteyn commented on #290
Last commit to master fixed IL, USA. Keeping this issue open to remember to backfill missing dates

[2020-03-24 05:08] lazd commented on #263
Looks like it's back?

[2020-03-24 09:06] HerbCaudill commented on #286
@hyperknot We have permission for GADM; we'll just need to add the conditions below to our license.

[2020-03-24 09:26] HerbCaudill commented on #286
I've written to Statoids to see if they'll donate the data to the project - it would save us a lot of effort, and scraping their website would probably be a violation of their terms of use anyway.

[2020-03-24 12:14] aledettaale opened #302 "Italy tested: add the TESTED from last column "tamponi""
Hello. In your data csv: https://coronadatascraper.com/#data.csv
for Italy you use:
https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv
In this you can take the TESTED too: last column tamponi
Thanks!

[2020-03-24 13:14] martiL commented on #79
<img width="1353" alt="Bildschirmfoto 2020-03-24 um 14 11 31" src="https://user-images.githubusercontent.com/5569498/77429185-8ed6e400-6dd9-11ea-9427-1317d40aa999.png">

@jgehrcke @lazd There seems to be wrong coordinates for the German region BB... you can reproduce it here -> https://corona-api-dashboard.netlify.com/

[2020-03-24 13:19] jgehrcke commented on #79
@martiL woof! I tried to double-check things and already knew that _this_ is probably the most error-prone part :-) Fix here: https://github.com/lazd/coronadatascraper/pull/304

[2020-03-24 14:02] chschoenenberger opened #305 "Switzerland Data"
Hi Folks

Great work. I'm thinking about moving to your datasource from JHU. I saw that for Switzerland you still get the JHU data. There's a guy that scrapes multiple datasource in Switzerland. Maybe you could either get his data or use his scraper for Switzerland. This includes data on canton-level:
https://github.com/daenuprobst/covid19-cases-switzerland

Thanks and keep up the great work
Chris

[2020-03-24 15:06] tautme commented on #185
Thank you all for thinking about this. I have been wanting to see number of test administered, because you can only have as many positives as you have tested.

[2020-03-24 15:25] alangwilson opened #306 "Map color is incorrect"
The map seems to be using a different color scale than the color legend.
<img width="341" alt="Screen Shot 2020-03-24 at 9 21 15 AM" src="https://user-images.githubusercontent.com/14807518/77444236-38ee4600-6db1-11ea-9519-ad3dc50bde53.png">

[2020-03-24 15:27] jgehrcke commented on #79
@lazd @qgolsteyn I think we should close this issue for now, and create more fine-grained issues from here as they come up!

[2020-03-24 16:01] chunder opened #307 "KS should not return all 0s if it gets an error fetching the source PDF"
It should return no results, not 0s for all counties.

[code]

[2020-03-24 16:01] chunder commented on #307
@paulboal ^^

[2020-03-24 16:04] lazd commented on #306
@NateBaldwinDesign does #153 fix this?

[2020-03-24 16:05] lazd commented on #302
@aledettaale sounds good, can you send a PR?

[2020-03-24 16:07] lazd commented on #305
Yes, there is another data source we're using, but haven't scraped the entire thing yet: https://github.com/openZH/covid_19/

Can you send a PR adding the rest of the data at our existing source?

[2020-03-24 16:33] NateBaldwinDesign commented on #306
Not sure exactly what’s being marked as a bug here. The yellow and red areas are most likely correct, as the scale is continuous. #153 updates ensure that they’re the same, yes.

But is this bug referring to the blue text from the map? @alangwilson

[2020-03-24 16:38] qgolsteyn commented on #305
I almost have a scraper done for this source. Will push soon.

[2020-03-24 16:45] #234 closed

[2020-03-24 17:49] paulboal commented on #307
Question @chunder - when there's no content, should the parser function just `return [];` or something else?  I'll get this fixed.

[2020-03-24 17:50] chunder commented on #307
Good question. @lazd ?

[2020-03-24 18:03] piccolbo opened #310 "Questions about data model, sources, aggregation, update"
Hey sorry for all these questions. I am  a data scientist maintaining Yet Another Statistical Graphics Visualization at https://piccolbo.shinyapps.io/covid-19/. Looking to jump ship from JHU as data source

1. What is your refresh rate
2. Do you do aggregates for us or not? For example if you have 99% county coverage in CA, is there a CA entry? If there is, is it a sum of counties, separate source

[2020-03-24 18:05] catshark9 opened #311 "TX counties is only pulling cases and not deaths"
Source here: https://www.dshs.state.tx.us/news/updates.shtm

[2020-03-24 18:06] qgolsteyn commented on #295
Quick round of questions @ryanblock:

- Would we need to add a `package.json` for each folder? Essentially, do we need to move to a monorepo structure, where each folder manages its dependencies.
- How would the data be transfered between concerns? Would they be run as part of the same script? Or do we need to save some intermediate data to the disk?

[2020-03-24 18:09] ryanblock commented on #295
We will eventually do this, yes, and Architect will manage those subtree dependencies for us. (For now, package at root containing these deps are fine!)

You can have one function call another with whatever JSON-convertible object you like – we will eventually transform those local function calls into cloud function event invocations with the same payload (JSON encoded).

[2020-03-24 18:12] lazd commented on #311
Thanks! They just added that this morning. Closed by cbbd58c7741085e56a6f243412cf104dc8c4beb7

[2020-03-24 18:12] #311 closed

[2020-03-24 18:14] lazd commented on #310
1. 9PM daily, we should document that somewhere
2. Yes, look at the `aggregate` field in the data and check the README which documents it https://github.com/lazd/coronadatascraper#writing-a-scraper
3. Yes, we pick the source with the highest priority, it's documented in the README https://github.com/lazd/coronadatascraper#writing-a-scraper

We have #49 open to document this properly, can you help?

[2020-03-24 18:32] chunder opened #312 "State `DC` and county `District of Columbia` are redundant"
Ok, so we have a state called `DC` and a county called `District of Columbia` in our published json/csv. We are actively scraping the state DC. It looks like the county District of Columbia was being sourced through JHU previously, and stopped getting updates on 3/11. Do we want/need to merge these somehow? Or just ignore for now?

[2020-03-24 18:32] piccolbo commented on #310
Thanks for your quick answer. Point by point

1. Great, I will take care of that
2. Can't really find it, will jump on #49 see if we can clarify there. The word aggregate is  in there, but not the info I need.
3. Ok so there is a priority field, but what criteria to decide value? It looks, superficially, that the scraper author can put a number. I am sure it's more thoughtful than that.

[2020-03-24 18:47] lazd commented on #312
I think I found the issue; we're treating `District of Columbia` as a county if it comes from JHU, and as a state elsewhere.

[2020-03-24 18:54] #305 closed

[2020-03-24 18:56] qgolsteyn commented on #79
Sounds good!

[2020-03-24 18:56] #79 closed

[2020-03-24 18:57] chunder opened #314 "Need to do case-insensitive matching of county names"
`DeKalb County, GA` is sometimes publishing their stats with a lowercase k as `Dekalb County`. This lowercased version is not matching and generating an error:

`  ❌ Could not find location Dekalb County, GA, USA`

We need to do case-insensitive matching.

[2020-03-24 19:01] #312 closed

[2020-03-24 19:02] lazd commented on #312
@chunder fix pushed, I verified it's working by checking timeseries data. Let me know if you see any issues!

[2020-03-24 19:03] chunder opened #315 "Add a test to be sure scrapers don't return 0s if the source is unavailable"
Another test I think we should do is run each scraper with a mocked fetch that returns 404 and then assert that the scraper doesn't return any results. We have scrapers that return zeros when they error. Returning 0 cases/deaths/etc is not the desired behavior if the source in inaccessible.

@samirrayani thinks this could go in here:

https://github.com/lazd/coronadatascraper/blob/master/src/event

[2020-03-24 19:03] piccolbo opened #316 "Parse error on JHU wide format file"
I observed two parsing errors with a csv parser in R, on Bear River County and New York City. Tried a few theories about what's wrong but can't parse either. Only thing I can see Bear River County is in the city field, then there is wrong number of fields later on, but still can't parse after fixing those. In the on line data browser, the rows are present but with Bear River County reported as  ci

[2020-03-24 19:03] lazd commented on #312
![image](https://user-images.githubusercontent.com/201344/77466373-6940df00-6dc7-11ea-9ac3-daa3348ee369.png)
Looking right on the map now

[2020-03-24 19:19] chunder commented on #312
Cool. I think it was already looking good on the map. Our state scraper was working fine. But our CSV/json/etc was outputting 2 records: one for state DC and one for District of Columbia.

[2020-03-24 19:51] LukeBrantley commented on #185
Are tests marked 0 if there are no records of tests for that location on that day?

[2020-03-24 19:51] piccolbo commented on #310
It looks like from discussion in #49 "aggregate" means something else, it's a property of a source (an aggregator of data) not a data point. In the data analysis world aggregation are statistics of the data. It doesn't mean it's the only meaning of the word. Others call that a roll-up. It looks like you don't have any derived statistics in your data or roll-ups. The sources may be doing that (summ

[2020-03-24 20:05] lazd commented on #310
@piccolbo so Priority and Ratings are different -- Priority is, as you said, decided by the author. For instance, if we have all counties covered with data from a state, we give that scraper a higher priority so it overrides any other data source for the same data, because we're getting it straight from the horses mouth.

I was unaware of `aggregate`'s usage, sounds like we should rename it to `ro

[2020-03-24 20:05] lazd commented on #312
Yes, that should be fixed!

[2020-03-24 20:15] chunder commented on #314
I also wonder if we should surface "Could not find location" errors as a sign of a scraper regression? Scrapers should not be reporting stats for locations that we don't have in our geojson. Or if they are, it should be explicitly whitelisted somehow.

[2020-03-24 20:18] piccolbo commented on #310
If it's a sum, you could call it roll-up but aggregate is clear to me. But my understanding was that aggregate means not from an aggregator source, which is different. 2+2 is a rollup, aggregate or statistics (2,2) is what an aggregator does, accumulating the data. Clearly I am not fully getting it yet and I am under pressure to replace JHU because they just f&*(&  all State data users last night.

[2020-03-24 22:02] NateBaldwinDesign opened #320 "State vs County data on map"
Unclear if this is a bug or as intended, however this causes a poor experience.
Appears as though state of New York either a) extends beyond the county boundaries or b) certain counties are not included on map.
Result: Looks like an odd sliver of geography that has all of NY State's data associated with it.

Recommendation: If counties are available, show the counties only. Otherwise offer a toggl

[2020-03-24 22:05] NateBaldwinDesign commented on #306
If this is regarding the yellow, orange, and red colors on the map & legend, then this should be closed as it is merely a play on the perception of color. The colors on the map and legend (taken from the same geographic location) can be identified as accurate along the color scale:

![image](https://user-images.githubusercontent.com/13972198/77481457-50e1bc00-6de9-11ea-9995-41fdce05711c.png)

[2020-03-24 22:29] alexmill commented on #290
Thanks @qgolsteyn. I think they just have someone manually editing the file source each day, so I'll keep an eye on the Illinois data over the next couple days and update with any further issues.

Commit here for reference: https://github.com/lazd/coronadatascraper/commit/b4a347d5d7aab2bee4eff8ffeb2af59288d94865

[2020-03-24 23:13] ryanblock commented on #295
Having slept on this and given more thought today to some edges, wanted to add a few points:

- Feel free to wing it with the dirs/naming under `src/events/` and exactly how you separate things, I just want to make sure this isn't being overly prescriptive!
  - The purpose of the examples above was just to help ensure that the crawler stays within reasonable code payload boundaries; for example, i

[2020-03-24 23:42] davegotz opened #322 "Add "like JHU" CSV for deaths"
The "like JHU" csv option for confirmed cases is very helpful for people looking to fix their code after JHU's change in time series data model.  However, it only seems to have confirmed cases.

Can you add a version of the same file format but with death statistics as well?

[2020-03-24 23:44] alexmill opened #323 "Fix historical NYC data, transition to borough/county level reporting"
The "New York County, NY, USA" (i.e., Manhattan) timeseries data has a major discontinuity in March. Seems to be due to new borough/county level reporting.

![Screenshot 2020-03-24 at 5 43 24 PM](https://user-images.githubusercontent.com/2365548/77487057-00715b00-6df7-11ea-9145-4272bc43adbc.png)

[2020-03-24 23:51] inspectordanno opened #324 "Timeseries.json does not have data figures for many counties"
I'm having some problems with https://coronadatascraper.com/#timeseries.json. I'm looking at U.S. counties in particular, and it does not appear to mirror the data in the other APIs. A lot of the results in timeseries.json are 0, when in the others they have real data.

You can verify this quickly by looking at key 541 (Los Angeles County) in one of the newer dates of timeseries.json. You can see

[2020-03-24 23:53] alexmill opened #325 "Bergen County, NJ, USA stopped updating on 3/19"
See current data here: https://healthgis.co.bergen.nj.us/portal/apps/webappviewer/index.html?id=3ee51425865a4d80bc4a3b8b51a4497d

P.S. I don't know if there's a better place to log these issues with the historical data. These fixes currently have to be done manually, so I'm happy to create a new issue for each instance of bad data I find. Or, if there's a more standardized place to report them, le

[2020-03-25 00:00] handcoding opened #326 "The data for Dallas County, Texas, is out of date"
Going by [the site](https://coronadatascraper.com/#features.json), it says that Dallas County, Texas, has `33 cases`.

But as of when I write this on March 24, 2020, [Dallas County, Texas has `169 confirmed cases`](https://www.dallascounty.org/departments/dchhs/2019-novel-coronavirus.php) of the coronavirus.

[2020-03-25 00:02] piccolbo opened #327 "US country level data"
I noticed that there are only five data points for US cases, all after 3/19. I compared this with a roll-up of state cases. That roll up is complete going back to 22/1. But comparing the 5 US country level points with the rollups, the numbers are similar, but not quite (off by 12000 for yesterday for  instance). Suggestions? THanks

roll up:

[code]

Country-level

[code]

[2020-03-25 00:10] alexmill commented on #325
PS. the reason I'm seeing these missing data is because I'm trying to make these plots, which make them easy to spot:

![download (2)](https://user-images.githubusercontent.com/2365548/77488384-af636600-6dfa-11ea-86e6-c3b119d9903a.png)

[2020-03-25 00:35] #324 closed

[2020-03-25 01:38] cmcjacob commented on #326
As of today, state of Texas moved their reporting to ARCGIS. The scraper will need updated

[2020-03-25 02:27] shaperilio opened #332 "1point3acres data"
I've spent a few days working with the JHU data and finally came across your project. Wow. Thank you. Thank you for citing sources. Thank you for scraping so meticulously.

Before yours, I had found this one:

https://coronavirus.1point3acres.com/#map

They also cite sources carefully, track (to some extent) when shelter in place orders were put into effect, and claim that they are doing some very

[2020-03-25 02:40] ryanblock commented on #295
Per conversation with @qgolsteyn this evening, will be cutting a branch tonight or tomorrow get this going with collab from (hopefully) @lazd + @brianleroux!

[2020-03-25 03:01] ryanblock commented on #42
@hyperknot I mean, I guess? Pretty straightforward impl but sure, we can actually reduce even that example quite a bit (I forgot there were some methods in there that weren't documented). Like so:
[code]
Production installs:
- `spacetime`: 499KB
- `js-joda`: 4.1MB

Whatever we choose, the thing that outputs locale aware strings of `2020-03-24` + `2020-03-24T19:57:02.376-07:00` should certainly be

[2020-03-25 03:14] ryanblock commented on #42
@hyperknot I mean, I suppose? Isn't the primary concern getting the correct locale datestamp, and not string formatting? In any event, I forgot that there were some better methods for accessing those formats:
[code]
Otherwise, production size just fwiw:
- Spacetime: 499KB
- js-joda: 4.1MB

@HerbCaudill can make the call on what we use to get locale-cast `2020-03-24` + `2020-03-24T19:57:02.376-07:0

[2020-03-25 04:33] alexmill commented on #290
It seems @chunder is also working on this here: https://github.com/lazd/coronadatascraper/commit/7ebba5a1b6973c50eba70bc33d5a9159d38d01b4

Just a thought so this doesn't have to be updated manually everyday: Can we scrape the HTML page [here](http://www.dph.illinois.gov/topics-services/diseases-and-conditions/diseases-a-z-list/coronavirus) and just extract the URL from the Plotly script:

`Plotly.

[2020-03-25 04:37] zbraniecki opened #336 "Missing China"
The `timeseries-byLocation.json` seems to be missing `CHN` as a country.

Is that a bug or is it intentional? If it's intentional, is it expected that summing up `CHN` state values provides a good approximation for `CHN`?

[2020-03-25 05:06] chunder commented on #290
This sounds smart.

[2020-03-25 05:17] chunder opened #339 "Chicago case counts are missing?"
Looks like IL reports Chicago separately from Cook County which contains it. I don’t see our code handling this. And our we report 412 for Cook, where Cook+Chicago is more like 1200.

[2020-03-25 05:22] paulboal commented on #307
Looks like this was already resolved.  This can be closed.

[2020-03-25 06:02] chunder commented on #314
Also, after the case-insensitive match we should record the data under the canonical county name from our geojson. Not the county name we scraped from the source -- it could have odd case.

[2020-03-25 06:36] edwlook opened #341 "NJ scrapes stale data"
Looks like NJ is fetching for a CSV file that only contains data for 3/19. Is there a way to find the updated CSV url to pull from (and also not have to keep changing the URL every day)? https://github.com/lazd/coronadatascraper/blob/master/src/events/crawler/scrapers/USA/NJ/index.js#L28

Also curious if that CSV is from the same source powering the dashboard here https://www.nj.gov/health/cd/topi

[2020-03-25 06:44] edwlook commented on #332
They have an application to request API access, could be worth trying - https://docs.google.com/forms/d/e/1FAIpQLScMGcazASoCxrcYJuBRxlOsAtpeTeyz1YWXJdZxPnFzbNvZRA/viewform

[2020-03-25 07:25] zbraniecki commented on #327
Yep, noticed it as well.
I'm about to switch from https://github.com/pomber/covid19 which has data for the US dated back to Jan 22nd. It would be great to backlog that here to ease the switch.

[2020-03-25 07:46] cristipp commented on #336
Also missing Wuhan.

[2020-03-25 08:51] a0s opened #343 "timeseries.json get over 700k cases in sum on 2020-3-24"
But https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6 gets 424k only!

I downloaded https://coronadatascraper.com/timeseries.json, selected records under key "2020-3-24" and summed all of it to get total counter for 2020-3-24. And i got
[code]
It seems little falsy ... Did i miss something?

[2020-03-25 10:40] aledettaale commented on #302
I'll try it now. I am new to GitHub but I have been analyzing data from Italy since the end of February.
Then I write you something else strange or wrong found in official world map (https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6)

[2020-03-25 10:50] chschoenenberger commented on #343
See https://github.com/lazd/coronadatascraper/issues/100
Especially for the US, there's data that is duplicated. There's several aggregation levels available. If you sum over all data you count confirmed for each county + all states + the whole country

[2020-03-25 12:19] aledettaale commented on #302
For denominazione_regione > state: Emilia Romagna is better Emilia-Romagna (for maps)

[2020-03-25 12:38] hyperknot commented on #286
I'm working on an OSM + Wikidata based solution, hopefully I can publish it very soon and then we can migrate over.

[2020-03-25 14:48] chschoenenberger commented on #100
**Idea**:
I just had a look at the data and for Canada, the state for the whole country aggregation is "Total". A possibility might be to add "Total" in county & state for pre-aggregated rows. Something like this
![image](https://user-images.githubusercontent.com/22217265/77549189-d334b380-6eaf-11ea-9b48-2794db439935.png)
Then, depending on the wanted aggregation one could just filter out those ro

[2020-03-25 15:14] ekaterinakuzmina opened #347 "Missing data fro NY"
Hy guys, yesterday data for NY from March 12 till March 22 disappeared.

[2020-03-25 15:28] hyperknot commented on #286
I will finish the new system today, based on ISO codes, using OpenStreetMaps.
We'll have two internal codes: `iso1:ES` and `iso2:ES-CL`.

About FIPS, can someone explain me a bit more? What would be the best internal system? `fips:06085` is good?

Is there any system existing for cities?

[2020-03-25 16:57] raysalem opened #349 "replicated rows for USA total data"
I am observing that at least for the US it is repeated twice
USA repeated twice with two country codes US and USA
test code in python -->
`df = pd.read_csv("http://blog.lazd.net/coronadatascraper/data.csv",parse_dates=True)
df[(df["cases"]>1e4)&df["country"].str.contains("US")]`

Data base i am observing, with said code -->

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-ali

[2020-03-25 17:11] cmcjacob commented on #349
Seems covidtracking data is also aggregated for cross referencing / fallback purposes.  If you exclude that source does it address your problem?

[2020-03-25 17:20] piccolbo commented on #310
@lazd somebody asked if you meant 9pm PT. Good question.

[2020-03-25 18:07] jzohrab commented on #212
Hi @qgolsteyn, is this done?  In #209 I see discussion about creating a `lib/schema.js`, and that file exists in the repository already (you added it in commit `ab624c4 feat: add validator for scrapers (#266)`).

[2020-03-25 18:10] qgolsteyn commented on #212
Yes, this is done! I'll close for now.

[2020-03-25 18:10] #212 closed

[2020-03-25 18:12] jzohrab commented on #263
Confirmed it's back, I just ran `yarn start --location "Ventura County, CA, USA"` on a fresh checkout and got the following:

[code]

[2020-03-25 18:15] reyemtm opened #350 "Ohio stopped listing county numbers on the ODH site as of March 25, 2020"
Not sure if they will release these numbers again, but for now the scraper will not work as the data does not exist on the page.

[2020-03-25 18:16] reyemtm commented on #350
site to check if they start releasing numbers again -

https://coronavirus.ohio.gov/wps/portal/gov/covid-19/

[2020-03-25 18:16] #350 closed

[2020-03-25 18:16] reyemtm commented on #350
looks like it was just taking some time to update

[2020-03-25 18:31] tautme commented on #185
today I see 37154 NA's in the timeseries-tidy.csv. So there are both zeros and NA's. Now as to whether or not the original source is recording correctly the meaning of NA?

[2020-03-25 18:40] shaperilio commented on #332
Just did a quick spot check on San Francisco - yours showed the same number of cases now that they had yesterday, so maybe it's just the timing of the scraping.

[2020-03-25 20:49] psylum commented on #323
i've been manually saving the case/death breakdowns from the NYC pdf since the 18th. not sure if there's a preferred way to provide that data for backfill into their time series data.

[2020-03-25 20:51] lazd commented on #323
Yeah, we need to go back and edit the previous scrapers that lumped everything into `New York County`

[2020-03-25 21:08] Jord-Holt commented on #100
A few thoughts:

What about separate data files? (ex. data-state.json, data-county.json, etc.). or if that would be confusing, modifying the current single data file with added root level schema structure making our intent obvious...

`state_level: [...],
 county_level: [...] `

This may seem like overkill, but given the underlying difference in how the state/county data is sourced and organized I

[2020-03-25 21:28] alexmill commented on #347
Duplicate of https://github.com/lazd/coronadatascraper/issues/323

[2020-03-25 21:29] alexmill commented on #341
Related to https://github.com/lazd/coronadatascraper/issues/325

[2020-03-25 21:33] tautme opened #354 "negative counts in timeseries.csv"
![image](https://user-images.githubusercontent.com/15580867/77587298-a08db980-6eb5-11ea-8c95-47e9e5284969.png)

There is also 0.5 counts for type active and cases (https://github.com/lazd/coronadatascraper/issues/356)

<img width="928" alt="image" src="https://user-images.githubusercontent.com/15580867/77587664-5ce77f80-6eb6-11ea-81a9-e53653984e19.png">

[2020-03-25 21:49] lazd commented on #354
I know exactly why the Utah problem was happening, that can be fixed easily (they're reporting 3 counties as "Tri-county").

For CHE, maybe they switched to offer daily data instead of cumulative... They switched the data source up before and broke everything, so I wouldn't put it past them.

@qgolsteyn can you investigate CHE? I can fixup Utah.

[2020-03-25 21:55] piccolbo opened #355 "New visualization site"
https://piccolbo.shinyapps.io/covid-19/
Features: smoothed (Friedman's supersmoother) and unsmoothed plots, by country or US State. Doubling rates and projection at 15 days. Population normalized numbers.
Use best statistical graphics practices (as opposed to tableau chartjunk), exclusively log scale, show new cases to support positive thinking (cumulative only goes up), inline labels for dense pl

[2020-03-25 21:58] lazd opened #356 "Half counts for Utah counties"
Via #354

There is also 0.5 counts for type active and cases

<img width="928" alt="image" src="https://user-images.githubusercontent.com/15580867/77587664-5ce77f80-6eb6-11ea-81a9-e53653984e19.png">

[2020-03-25 21:58] #356 closed

[2020-03-25 21:59] lazd commented on #354
@tautme fixed the Utah issues, filed separate issue https://github.com/lazd/coronadatascraper/issues/356

[2020-03-25 22:00] lazd commented on #355
Looks very cool! Can you send a PR to add it to `site/index.html`?

[2020-03-25 22:01] piccolbo commented on #355
Thanks, wanted make sure that wasn't a generated file or something. Will do.

[2020-03-25 22:01] lazd commented on #349
The US/USA issue is definitely a problem, I can address that.

Otherwise, we have New York City without a county, because the city contains counties, so that's working as designed.

[2020-03-25 22:04] zbraniecki commented on #336
I confirmed that summing up states gives a good values for the whole country comparable to other sources.

[2020-03-25 22:05] zbraniecki opened #357 "Data for `active` in Hubei, China on 03.24 is unrealistically high"
There's a sudden jump in `active` likely due to lack of `recovered`:

[code]

[2020-03-25 22:12] #349 closed

[2020-03-25 22:12] lazd commented on #349
Just pushed a fix for this. Check again after 9PM PST tonight and re-open this issue if you still see duplicate USA/US entires.

[2020-03-25 22:14] lazd commented on #357
This is 100% because JHU stopped providing `recovered`.

The only solution is to remove `active` -- we're not getting `recovered` data consistently from anywhere, so it's starting to become meaningless.

@qgolsteyn @camjc @chunder thoughts?

[2020-03-25 22:16] chunder commented on #357
We should omit `active` if `recovered` is null, right? We should not treat `recovered == null` as if it is 0.

[2020-03-25 22:16] chunder commented on #357
This will naturally cause `active` to disappear from ~most locations.

[2020-03-25 22:20] qgolsteyn commented on #357
I think active should be kept, but set to undefined if we are missing data for `cases`, `deaths`, or `recovered`.

See #354 for another `active` related bug

[2020-03-25 22:31] lazd commented on #354
@qgolsteyn I think this is an issue with the source -- even if there was something weird, they have `deaths` and `recovered` > `cases`.

[2020-03-25 22:32] lazd commented on #347
Yes it does seem like this is a dupe. Closing, @ekaterinakuzmina please follow along in the other issue.

[2020-03-25 22:32] #347 closed

[2020-03-25 22:32] lazd commented on #341
Fixed by  8457887102dd4eca3a91f159958582a486fc5831

[2020-03-25 22:32] #341 closed

[2020-03-25 22:32] lazd commented on #325
Fixed by  8457887102dd4eca3a91f159958582a486fc5831

[2020-03-25 22:32] #325 closed

[2020-03-25 22:35] qgolsteyn commented on #354
The source appears to have missing entries for cases, which would make active negative if deaths are reported

[2020-03-25 23:14] divisia opened #359 "Canada and Switzerland subregions are merged"
Canada (CAN) and Switzerland (CHE) subregions are mixed. CAN is missing and all of Canadian states showing up under CHE.

[2020-03-25 23:27] piccolbo commented on #185
Test positive is one thing, but diagnostics criteria change, particularly when epidemic outpaces testing ability. At that point health authorities switch to other criteria such as any viral pneumonia,  x-ray abnormalities etc. Italy and China, afaik, have made the switch. Marching orders is Italy are "test if it has clinical implications". Typically if you are not severe, well oxygenated, just fev

[2020-03-26 00:31] alexmill commented on #339
Yeah from what I can tell the entry for "Cook" county actually represents Cook county cases minus Chicago cases. I'm working on fixing the URL here https://github.com/lazd/coronadatascraper/issues/290 and can see if I can handle this as well.

I think I'll aggregate Cook + Chicago to "Cook County, IL, USA" and then create a separate city entry for Chicago. Their data has been so inconsistent latel

[2020-03-26 00:32] NickSto opened #361 "Countries listed by name in timeseries-byLocation.json"
I've noticed there are several instances where the timeseries data has a country keyed both by its ISO-3166 country code *and* its common name:

|key|code|
|-----|------|
|`US`|`USA`|
|`Bahamas, The`|`BHS`|
|`Cape Verde`|`CPV`|
|`East Timor`|`TLS`|
|`The Gambia`|`GMB`|
|`Republic of the Congo`|`COG`|

Also, a couple countries are present only by their full names, *not* their country codes:
|key|co

[2020-03-26 00:35] lazd commented on #361
Thanks, @NickSto! I bet you'll find JHU is providing the ones that are keyed off something other than the ISO-3166 alpha 3 code... Can you confirm the sources for each item you noted above?

Note that the US issue should be fixed already.

[2020-03-26 00:48] NickSto commented on #361
@lazd Yep, JHU is the source for everything I mentioned except `USA`, which is from `https://covidtracking.com/api/states`.

[2020-03-26 00:59] NickSto opened #363 "Irregular state/county/city names in timeseries-byLocation.json"
I was looking through `timeseries-byLocation.json` and found some odd-looking place names. I thought I'd document them here, since they seem likely to be errors.

Weird county names:
- `(unassigned)` in Arkansas and Washington.
- `County` in Pennsylvania.
- `Not Reported County` in Michigan
- `Pending County` in Tennessee.
- `Tri County` in Utah
  - I checked, and that doesn't seem to be a real co

[2020-03-26 01:18] lazd commented on #323
Ok I figured out the problem, thanks for the report!

[2020-03-26 01:19] #323 closed

[2020-03-26 02:17] zbraniecki opened #365 "French states duplicated"
Many French states exist in two forms - with and without accents, covering different timespans.

Examples:
 - `Ile-de-France` and `Île-de-France`
 - `Grand-Est` and `Grand Est`
 - `Saint-Barthélemy` and `Saint Barthelemy`

They should be unified.

[2020-03-26 02:17] #355 closed

[2020-03-26 02:28] cburkins commented on #336
Agree, would be convenient to have a single entry for China to make for easier comparisons against other country-level data

[2020-03-26 03:36] hyperknot commented on #365
This will be fixed when we move to ISO codes.
https://github.com/hyperknot/country-levels/blob/master/docs/iso2_list/FR.md#level-4

[2020-03-26 03:38] hyperknot commented on #286
I manage to get ISO code based extracts from OpenStreetMap, I've just finished rewriting country levels based: https://github.com/hyperknot/country-levels

Tomorrow I'll update my PR with this system.

[2020-03-26 04:51] travishaby opened #369 "Visualization by US State"
After JHU broke their data format, I thought my little visualization was going to be a pain in the ass to rebuild--then I found y'all's API! Thanks so much for providing a great source for this data--was really easy to shape into what I needed.

Here's my simple visualization of COVID-19 cases by US state, hosted on Glitch:
https://covid-19-by-states.glitch.me/
(it may take a sec for the container

[2020-03-26 06:01] NickSto commented on #361
Wow that was quick, thanks!

[2020-03-26 06:17] chunder opened #374 "geography.addEmptyRegions can easily mistakenly infill all counties with 0 cases in a state"
So I just realized that `geography.addEmptyRegions` is a bit dangerous.

If a scraper gets confused by a change in the source page, it will sometimes fail to find any counties. That’s cool, returning no results is a safe/conservative thing to do.

But then most county level state scrapers call `addEmptyRegions`. Which sees no data. And backfills 0 for every county.

I wonder if `addEmptyRegions` s

[2020-03-26 06:46] zbraniecki opened #375 "Data has a gap between 2020-3-11 and 2020-3-24"
There's a gap for all chinese states between `2020-3-11` and `2020-3-24`:

[code]

[2020-03-26 06:59] zbraniecki commented on #375
Same for Germany:

[code]

[2020-03-26 07:06] zbraniecki commented on #375
List of affected countries: `[CHN, THA, JPN, SGP, NPL, MYS, KHM, LKA, DEU, FIN, ARE, PHE, IND, SWE, BEL, EGY, LBN, IRQ, OMN, AFG, BHR, KWT, DZA, HRV, AUT, ISR, BRA, GEO, GRC, MKD, NOR, ROU, EST, NLD, SMR, BLR, ISL, LTU, MEX, NGA, IRL, LUX, MCO, QUT, ECU, AZE, ARM, DOM, IDN, PRT, AND, LVA, MAR, SAU, SEN, ARG, CHL, JOR, UKR, HUN, LIE, POL, TUN, BIH, SVN, ZAF, BTN, CMR, COL, CRI, PER, SRB, SVK, TGO,

[2020-03-26 07:07] lazd commented on #375
Sounds like a JHU data issue... Will investigate tomorrow

[2020-03-26 07:15] piccolbo commented on #316
Can't repro problem with latest download and letting the parser look at the whole file to guess col types.

[2020-03-26 07:15] #316 closed

[2020-03-26 07:23] nikhil-bhandari commented on #151
I think this issue is resolved and can be closed.

[2020-03-26 08:02] ch3ft0ny opened #377 "Add older data from CSSEGISandData/COVID-19"
Hello,

great project, but for some countries the timeline data starts really late.
e.g. the data for Italy starts from 2020-02-24, the first reported case was 2020-01-31.

Its not a big issue, but it would be really nice

[2020-03-26 09:18] sagarkulkarny opened #378 "Aggregate column is not marked correctly for all countries"
e.g. AUS has one row for entire country marked as "state" which should be "country" and it has 6 rows for the states Australian Capital Territory, New South Wales, Northern Territory, Queensland, South Australia and Victoria which are blank but should be marked "state".

[2020-03-26 11:51] ekaterinakuzmina opened #379 "March 22nd has stale data for New York, Colorado, others"
Guys, for several states all measures (cases, etc.) for March 21 and 22 are the same.

[2020-03-26 14:28] mdibenigno commented on #378
In addition, countries like the USA have a country level count in addition to state and county, but then countries like China only have data at a province level... so I'm starting to go a little crazy with what countries to aggregate/melt!

[2020-03-26 14:44] lazd commented on #377
Duplicate of #375 (fixing now!)

[2020-03-26 14:44] #377 closed

[2020-03-26 15:19] mdibenigno commented on #363
I encountered this as well. The USA has country total rows (no state, no county), but China does not have country total rows and only at the state level... My parser is looking pretty bad with all of these data inconsistencies.

[2020-03-26 15:27] lazd commented on #363
@mdibenigno yeah, we didn't roll up China's data. Care to send a PR to do so?

[2020-03-26 15:28] lazd commented on #375
Fixed by 4cf6d488b86ced1a6f1c9a3b7bde7a0f55aa9195

[2020-03-26 15:28] #375 closed

[2020-03-26 15:30] joshuaellinger opened #383 "Change ARCGIS sites to start at public facing host page"
It would be a lot more maintainable and easy to validate if we start with the public facing host page and pull the source from the iframe.

Right now, if the state moved to a new GIS page and let the old one up, you wouldn't notice for a while.  If they take it down, you have to go find the original UI page.

[2020-03-26 15:30] lazd commented on #336
@cristipp Wuhan is a city and was never in any dataset. You're looking for `Hubei, CHN`

[2020-03-26 15:42] #336 closed

[2020-03-26 15:46] lazd commented on #379
What file @ekaterinakuzmina?

[2020-03-26 15:47] lazd commented on #379
It sounds like you're saying that the numbers did not change between the 21st and 22nd?

Can you provide an exhaustive list of states you saw this in?

[2020-03-26 16:00] lazd commented on #343
Yeah @a0s you need to pay attention to the `aggregate` field. If you see a country with `aggregate: 'state'`, ignore all its states. If you see a state with `aggregate: county`, ignore all its counties, etc.

[2020-03-26 16:00] #343 closed

[2020-03-26 16:02] lazd commented on #326
Fixed! Though I see 131 for 2020-3-24, and 169 for 2020-3-25.

[2020-03-26 16:02] #326 closed

[2020-03-26 16:09] lazd commented on #320
Fixed!

[2020-03-26 16:09] #320 closed

[2020-03-26 16:10] lazd commented on #322
Please just switch to `timeseries.csv`, it's a much more sane format.

[2020-03-26 16:11] piccolbo commented on #375
Still see the gap for TUR, cases, most of march

[2020-03-26 16:17] lazd commented on #375
Not deployed yet

[2020-03-26 16:43] qgolsteyn commented on #354
See #357 for decision on active. Closed with 84e8a277

[2020-03-26 16:43] #354 closed

[2020-03-26 16:44] qgolsteyn commented on #357
Closed with 84e8a277

[2020-03-26 16:44] #357 closed

[2020-03-26 16:45] qgolsteyn opened #385 "Out of memory error when running `yarn timeseries`"
I have a 2018 MacBook, 8GB of RAM. Node process reaches 2GB of memory usage before throwing.

Stacktrace:
[code]

[2020-03-26 17:24] zbraniecki opened #386 "testing missing for 15 US states"
Compared to yesterday, today's JSON misses testing data for the following states:

[code]

[2020-03-26 17:34] jgehrcke opened #387 "Remove DEU scraper data"
We replaced the DEU scraper with state-specific parsers. Yet, out-of-date DEU data remains to be in the system, e.g. in https://coronadatascraper.com/#timeseries-byLocation.json -- do we have a process for purging "old" scrapers?

[2020-03-26 17:45] zbraniecki opened #388 "Recovered cases data"
It seems that we're backing out of recovered data.

Is the consensus that we cannot find sources of data to provide continuous information on recovered data?

[2020-03-26 17:48] zbraniecki opened #389 "Active cases data"
It seems that with JHU change wrt. recovered, we struggle to accumulate `active cases` data.

Is that going to be impossible going forward or can we find sources for that data for major regions?

`active` is slightly related to `recovered` (see #388), but not necessarily possible to calculate out of. The `active = cases - deaths - recovered` is flawed.
There are some proposals for better calculati

[2020-03-26 17:49] zbraniecki opened #390 "Hospitalizations data (a'ka serious cases)"
Is it possible to start accumulating hospitalization data?

It seems that hospitalizations (a'ka `serious cases`) is an important bit of information that would be good to track alongside other numbers.

[2020-03-26 17:51] jzohrab commented on #315
Hi @chunder, some questions:
* what are some of the bad scrapers returning 0's?
* what should a 404'd scraper return?
Thank you! jz

[2020-03-26 17:51] zbraniecki opened #391 "Hospital beds capacity data"
The `flattening the curve` approach is defining the concept of `medical system capacity` which, when exceeded, leads to substantial collapse of the curing capacity and in return skyrocketing of deaths.

It would be great to look for sources of data to provide information on capacity of the medical system, and since it's changing (regions are pushing for increasing it, to give more space for the fl

[2020-03-26 17:53] zbraniecki commented on #391
An example of a project that uses the data point - https://projects.propublica.org/graphics/covid-hospitals

[2020-03-26 17:54] zbraniecki commented on #391
Another example: https://covidactnow.org/

[2020-03-26 17:58] zbraniecki opened #392 "Significant events data"
There's a number of significant events that affect data either directly or in delayed fashion and may impact projections. Things like:

* Social distancing imposed
* Shelter-in-place imposed
* Lockdown imposed
* Testing policy change (only performed when result would alter treatment)
* Mass masks use recommended/advised/required

[2020-03-26 18:00] zbraniecki commented on #390
Here's penn state data https://github.com/CodeForPhilly/chime including:
[code]

We could even aim for:
* hospitalizations
* ICU admissions
* ventliation

[2020-03-26 18:11] mdibenigno commented on #363
@lazd ah got you... also great to know it is just China... was about to start doing a giant check for other countries... thanks for sharing the link to the other issue!

[2020-03-26 18:12] lazd commented on #363
@mdibenigno it was AUS too, but that's rolled up back to the start.

[2020-03-26 18:55] HerbCaudill commented on #42
see #393

[2020-03-26 19:04] jzohrab opened #394 "README fixes - split out docs, add testing docs -- DONE, pending PR merges."
A "master issue" to handle some README updates that need to get in.  I'll handle all of them as separate incremental PRs.

* Resolve merge conflict for code in https://github.com/lazd/coronadatascraper/pull/330
* Add a "testing" section or page, with notes on how to run Jest tests (for new js coders like me), including documentation from Herb in https://github.com/lazd/coronadatascraper/pull/345

[2020-03-26 19:04] jzohrab commented on #394
I'm doing this one now.

[2020-03-26 19:11] zbraniecki commented on #388
Example of recovered cases tracker - https://plague.com/

[2020-03-26 19:11] caticoa3 commented on #392
Yes! Is there a website that can be scraped for this, its seems like this would need to be done more manually. Most social distancing is not neatly organized in tables like the Covid counts. Instead news reports about when measure were put in place would need to be aggregated.

[2020-03-26 19:33] DavidGeeraerts commented on #388
It depends on the State and the Counties in the USA. It's not consistent in reporting, so some states will have the aggregation of County recovered, some report County level, etc.
It's simply a data reporting mess.

[2020-03-26 19:37] zbraniecki commented on #388
I know, but same is for other factors - there's no standardized model for "cases" or even "deaths" (different countries report different statistics) or "testing". So maybe having some "recovered" available even if the method of calculating them differs per country is better than having none?

[2020-03-26 19:40] lazd commented on #388
If sources don't provide it, we don't capture it. If they do, we include it.

We are not in the business of calculating anything except `active` (based on `deaths` and `recovered`), and even that is super shaky.

However, if you see a source that we're already scraping that is providing recovered data, but we're not including it, then file an issue and we can add it.

[2020-03-26 19:40] #388 closed

[2020-03-26 19:42] lazd commented on #392
This is tough information to gather and I think is currently outside of the scope of this project.

HOWEVER, if there is a source we're currently scraping that provides this data, I would accept a PR to add it into the dataset (though I'm not sure what that would look like).

I'll leave this issue open in case someone finds data and needs an issue to associate it with.

[2020-03-26 19:45] lazd commented on #391
This is something we are definitely interested in including. There are a few resources we've gathered that could be rolled in, one of which was via COVID Act Now.

https://docs.google.com/spreadsheets/d/16V1kIjTTBx0x67Mi1JyAwjuW5wneydwsATv_YiDTtGg/edit?usp=sharing

https://github.com/covid-projections/covid-data-model/blob/master/data/hospital_beds_by_county.csv

[2020-03-26 19:48] lazd commented on #389
Thanks for all the well thought-out issues, @zbraniecki! Keep them coming.

We are not going to forecast active cases based on a time period, we just aggregate data.

`active` and `recovered` are super important, but in the absence of that data coming directly from the sources we scrape, it will not be included in our dataset.

Of course, layering this on top of our dataset for your own visualizat

[2020-03-26 19:48] #389 closed

[2020-03-26 19:49] lazd commented on #387
@jgehrcke I would say set a higher priority on your state-specific scrapers, do the rollup to replace DEU with `transform.sumData()` and leave the old scraper intact.

If we remove the old scraper, we will lose data from the timeseries!

[2020-03-26 19:49] chunder commented on #315
It's not that the scrapers are bad. It's that the source webpage changes and the scraper no longer works against the new layout/content/format. We had 2-3 last night that exhibited this problem. We scrambled and fixed them before the final data push.

It would be better if they failed by returning no data (ie: an empty array) rather than returning a pile of 0 case counts for all the counties in th

[2020-03-26 19:51] lazd commented on #386
Yes, we were pulling testing data from COVID Tracking, and we've replaced that with our direct-from-state data sources.

If you want the best and most accurate state-level data for `tested`, I would suggest hitting COVID Tracking's API: https://covidtracking.com/data/

HOWEVER, if, for any of the states you've listed above, you can find testing data on the sources we're currently scraping, file an

[2020-03-26 19:52] lazd commented on #385
NICE. Big data energy.

[2020-03-26 19:54] DavidGeeraerts commented on #286
@hyperknot FIPS is heavily used in GIS in the US.
You can get the codes in spreadsheet format [here](https://www.census.gov/geographies/reference-files/2016/demo/popest/2016-fips.html). USA County codes can easily be extracted from [here](https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697).
Adding FIPS codes to the dataset would be good to direct this dataset to a s

[2020-03-26 19:54] lazd commented on #379
Just verified this is definitely happening for Colorado on 3/21 :

[code]

[2020-03-26 19:54] lazd commented on #374
This is true... I agree, we should throw if no data is present!

[2020-03-26 19:55] lazd commented on #322
@davegotz have you checked out `timeseries.csv`? Can you use that instead?

[2020-03-26 19:56] lazd commented on #307
Sounds like this is related to #374, adding a note here.

[2020-03-26 19:56] #307 closed

[2020-03-26 20:07] hyperknot commented on #286
@DavidGeeraerts thanks. Do you know any similar system for city level? Actually I think if we can move international areas to ISO1 and ISO2 and US counties to FIPS, that'd already be a huge improvement.

[2020-03-26 20:12] jgehrcke commented on #387
@lazd Thanks.

I previously asked a question here on GitHub and in Slack about whether or not to remove the country-wide scraper when introducing state-level scrapers.

Sounds like you would have disagreed with his commit which was merged as part of #196 : https://github.com/lazd/coronadatascraper/commit/36d4197c0530dad59e9a4ad0fcc8b1d1bce39322

To make it really explicit: you suggest to keep the

[2020-03-26 20:30] caticoa3 commented on #392
School closures:
https://www.edweek.org/ew/section/multimedia/map-coronavirus-and-school-closures.html

[2020-03-26 20:43] kendonB opened #398 "Los Angeles county on 03/12 incorrect"
[code]

[2020-03-26 20:44] kendonB commented on #398
Situations like this should really be in there as missing right?

[2020-03-26 20:44] anddon333 opened #399 "NYC numbers"
the total for New York City isn't matching the sum of the 5 counties for 3/25. is this because the city/county sources are different?

[2020-03-26 20:55] lazd commented on #399
Yup

![image](https://user-images.githubusercontent.com/201344/77695512-1f8ffa00-6f69-11ea-888e-21468d019627.png)

Left: https://coronavirus.health.ny.gov/county-county-breakdown-positive-cases

Right: https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf

Work for this was done by @aed3 in #281.

@aed3, should we discard `New York City` in favor of a sum of the borough

[2020-03-26 21:01] aed3 commented on #399
I could. Not sure if I should though. The weird thing is the numbers from ny.gov site were updated more recently but have a smaller total, so I don't know which on is more accurate.

[2020-03-26 21:12] lazd commented on #399
Yeah @aed3 I don't know which number to take either... There are probably some methodology differences...

[2020-03-26 21:13] lazd commented on #398
@kendonB lots of stuff is missing on 3-12 -- that was the day after JHU stopped providing county level data, and the day before I this project started to exist. We'll back-fill the data some day.

[2020-03-26 21:14] lazd commented on #398
Wondering if this is related to #374 ...

[2020-03-26 21:16] lazd commented on #387
Yeah I may have missed that commit, but here's the deal -- if a scraper got data once upon a time, and we remove that scraper, UNLESS we have added a new scraper that covers that same place with timeseries data, when we regenerate the timeseries, whatever data the old scraper gathered will be missing from the timeseries.

Is the data from the scraper you're proposing to remove totally covered with

[2020-03-26 21:17] lazd commented on #378
@sagarkulkarny hmm, you may be right about AUS, @camjc can you look into it? We should be properly setting `aggregate: 'state'` on both the states and the rolled up data for AUS itself.

[2020-03-26 21:20] lazd commented on #378
@mdibenigno I don't see the problem at all here. `CHN` clearly says `aggregate: state`, and so does every single `CHN` province -- if you want totals for all of `CHN`, then just take `CHN`.

Look at the code on the map: https://github.com/lazd/coronadatascraper/blob/master/site/map.js#L133-L160

You can see we find out what is a county, what is a state, and what is a country and choose which one t

[2020-03-26 21:20] jgehrcke commented on #387
A definite Yes.

Background: the 16 state scrapers in sum conceptually replace the country-wide scraper. We have a bottom -> up system in Germany, there are no cases to be expected associated with the country, but not associated with any state.

One good reason to include the country-wide scraper could potentially be for users looking for the _sum_ in this project to easily see it. However, I thin

[2020-03-26 21:27] lazd commented on #369
@travishaby go ahead and send a PR adding a link to your project!

[2020-03-26 21:27] #369 closed

[2020-03-26 21:38] zbraniecki commented on #388
I'd argue we shouldn't calculate that either, but that's a topic for #389.

Right, so maybe my issue should be renamed to "Recovered cases missing for many major regions." - and the approach would be to look for recovered data since JHU stopped providing it.

[2020-03-26 21:39] webstergl opened #401 "Disappearing Tested data for US States?"
Hello,

I am a math teacher and super unfamiliar with this site and github, but I stumbled across as a resource for a stats project for my students. The data looks to have changed a lot from yesterday in the "Tested" column for US states. Yesterday there was testing data for all by 7 states. But today most of those cells are blanks. Just curious if that is an error and if that data will return.

T

[2020-03-26 21:40] zbraniecki commented on #389
That's not true. As you mentioned in #388 you calculate active as `cases - deaths - recovered`, no?

I'd argue that there are better algorithms for that, and we shouldn't calculate that and only include `active` if the source provides it?

[2020-03-26 21:41] zbraniecki commented on #389
In which case, I guess, I'm arguing for the same thing as in #388 - turn this issue into a place to coordinate accumulating sources for `active` cases since JHU stopped providing them.

[2020-03-26 21:42] zbraniecki commented on #386
What's the reason not to use COVID Tracking as a backup for direct-from-state? This would give you the same data for states that we have direct sources for, and the baseline for those we don't, no?

[2020-03-26 21:43] zbraniecki commented on #392
Right, I understand that. It may be a good material for a separate repository to accumulate those events manually. I just think that the same community as this one would be interested in that data :)

[2020-03-26 21:44] zbraniecki commented on #401
Dupe of #386?

[2020-03-26 21:50] jzohrab commented on #394
Both PRs are open now (#395, #402).  When they're closed, this issue can be closed.

[2020-03-26 21:54] zbraniecki opened #403 "Collect reasonable set of algorithms to perform on the data"
Once this dataset grows, it may be useful to start accumulating JS algorithms to apply on the data.

It'll likely be a separate repo, but linked to this one so that this data can be directly operated on using this data model.

My idea is that assuming we can eventually come to a sensible coverage of core raw numbers per day (`cases`, `deaths`, `hospitalizations`, `ventliations`, `recovered`)
We co

[2020-03-26 22:00] zbraniecki commented on #403
As one algorithms I'd like to play with is the exponential curve vs. population satiation. The exponential predictions require flattening out at some point as the virus reaches saturation in the population and starts flattening out as it gets to the upper boundary of the infected population.

All the measures in the "flatten the curve" approach aim to push the point at which the growth rate slows

[2020-03-26 22:00] zbraniecki commented on #403
Or calculating the R=

[2020-03-26 22:01] jzohrab commented on #315
I misspoke.  I don't know what a bad case is, can you give me an example of a scraper that no longer works, if for example it 404's?  I see changes in master with `git log --oneline upstream/master -- src/events/crawler/scrapers` but I'm not sure which correspond to the fixes.

[2020-03-26 22:01] zbraniecki commented on #392
* closing borders
* cancelling mass gatherings above X people
* cancelling domestic flights

[2020-03-26 22:09] hyperknot commented on #286
I see there are actually perfect code systems in that file for city, etc. subdivision levels.

[2020-03-26 22:15] a0s commented on #343
@lazd thank you, i missed this field when saw first time to json!

[2020-03-26 22:16] #103 closed

[2020-03-26 22:26] ryanblock commented on #48
I can look at this (I assume with @HerbCaudill).

[2020-03-26 22:27] qgolsteyn commented on #102
Population and features are now available.

[2020-03-26 22:27] #102 closed

[2020-03-26 22:27] zbraniecki opened #404 "Kinsa fever data"
While not exclusively COVID-19 related, Kinsa fever data may be a useful raw datapoint for us as well: https://healthweather.us/

It uses the network of smart thermometers to show the deviation of fever frequency from the norm. I imagine we could collect this datapoints as two data:

[code]

this would tell us that according to Kinsa, `3.1%` of a given population has a fever on that day, and it's

[2020-03-26 22:28] ryanblock commented on #159
Maybe filename should be: `{md5 of url.substr(8)}-{md5 of contents}-{8601Z timestamp}.ext`, wdyt?

[2020-03-26 22:30] zbraniecki commented on #391
Also, maybe as a follow up - capacity of ICU and number of ventilators available.

[2020-03-26 22:33] zbraniecki commented on #388
This source seems to still show `recovered` - https://www.worldometers.info/coronavirus/

[2020-03-26 22:33] zbraniecki commented on #389
This source seems to still show active - https://www.worldometers.info/coronavirus/

[2020-03-26 22:33] zbraniecki commented on #390
This source shows critical - https://www.worldometers.info/coronavirus/

[2020-03-26 22:48] zbraniecki opened #405 "Canada is reported as `Total, CAN` state instead of country"
In the latest JSON data, the entry is:

[code]

[2020-03-26 22:48] zbraniecki commented on #359
I think it may be fixed as of today?
I see 13 regions marked as `*, CAN` in the data plus `"Total, CAN"` which is likely a bug (it should be a country not a state - I reported it as #405.

[2020-03-26 23:29] gitcnd opened #407 "How to supply a live JSON datafeed"
My data is immediately usable for any live charting application (news tickers, real-time charts, pandemic leaderboards, etc)

Do a "view source" to see how to load my JSON file.

https://cryptinc.com/covid19/covid19_predictor.html

Unlike other feeds, I also include the outbreak paramaters and the functions for producing real-time (up to the second) forecasts (upto a week ahead, and back to any da

[2020-03-26 23:36] rtwfroody opened #408 "graph tool to compare countries and US states"
I change my tool from Johns Hopkins to this data set to get the states back: http://casualhacker.net/covid19

[2020-03-26 23:48] cburkins commented on #336
I can indeed see it, now.  Thanks so much.

[2020-03-26 23:51] cburkins opened #409 "PA, USA: Data is incorrect, likely reversed deaths and number of cases"
The PA (Pennsylvania) data appears to be incorrect now.   It's now showing a very low number for number of cases (e.g. about 12).    In clicking through to the data source for the scraper, I'm guessing that the scraper (or website) reversed the columns for number of cases and number of deaths.

[2020-03-26 23:53] gitcnd commented on #407
https://github.com/gitcnd/coronavirus-data-sources/tree/master/curated

[2020-03-26 23:55] cmcjacob commented on #409
[code]
can't reproduce locally?

[2020-03-27 00:12] lazd commented on #407
I'm not sure what I'm looking at here, does this use our data?

[2020-03-27 00:15] lazd commented on #404
Hmmm, very interesting and likely something you could layer on for your own visualizations, but outside of the scope of the data this project is trying to report.

[2020-03-27 00:15] #404 closed

[2020-03-27 00:16] lazd commented on #386
We still pull it down, but we do not "combine" data between sources, we just filter out duplicates.

[2020-03-27 00:17] lazd commented on #401
@webstergl yup, we're no longer using COVID Tracking as authoritative for state data, our scrapers directly from that state override it. Unless the state provides testing numbers, it won't show up. Please pile on #386 and see if you can help identify states that provide testing information we can scrape.

[2020-03-27 00:17] #401 closed

[2020-03-27 00:21] zbraniecki commented on #386
1) I miss how is it combining? If sourceA has data for Washington use it, if not use data from sourceB?

2) Why not combine (sourceA has data for Washigton till 3-11, sourceB from 3-12)?

[2020-03-27 00:26] lazd commented on #386
We pull all the data for WA from their health department, then we include it in the dataset.

We pull the data for WA from COVIDTracking, then we include it in the dataset.

There is a de-dupe process that chooses one over the other. If COVIDTracking has testing, but WA health department doesn't, and if we give WA health department a higher priority, then we don't get testing data in the final dat

[2020-03-27 00:32] zbraniecki opened #410 "Enable combining data from multiple sources (i.e. cases from one, tested from another)"
As pointed out in #386 we currently use a single source with a fallback on another one if needed.

But different sources may provide different data for the same region or even different quality of data over time.

It'd be great to be able to have something like:

[code]

[2020-03-27 00:33] zbraniecki commented on #386
Ah, that makes sense. I see! Of course, that means that you'd have to merge.

I filed issue #410 to discuss something a bit more flexible.

[2020-03-27 00:33] zbraniecki commented on #386
Thank you for taking time to explain it to me!

[2020-03-27 00:43] lazd commented on #410
We already can use different sources for different time ranges, generally when we add a new source, it only starts at the date we added it (unless it's a timeseries).

[2020-03-27 00:45] lazd commented on #359
@divisia sounds like a cache issue -- you have to hard refresh sometimes after we deploy.

[2020-03-27 00:45] #359 closed

[2020-03-27 00:48] cburkins commented on #409
Thanks for the quick response !

This is the PA,USA data object at https://coronadatascraper.com/#timeseries-byLocation.json

Which shows the discrepancy I'm describing.   Is that helpful ?

![image](https://user-images.githubusercontent.com/9342308/77709923-f7bd8800-6fa2-11ea-9590-d551398d7b89.png)

[2020-03-27 01:38] lazd commented on #409
Yeah I saw the same, that looks totally wrong...

[2020-03-27 01:45] jzohrab commented on #394
Both issues are done.

[2020-03-27 01:45] #394 closed

[2020-03-27 02:24] jzohrab commented on #208
With all of what I'm about to say, I'm sure that just moving the files into this repo would be the simplest.  Submodules are always a hassle.

Re tracking the branch, as long as the master branch can be guaranteed to be good, seems like this could work.  I can do a demo with a sample toy project if that would help move this along, eg Aparent has Achild as an existing submodule, I update Aparent to

[2020-03-27 02:46] jzohrab commented on #409
I just tested this locally (`yarn start --location "PA, USA"`), and logged the values the scraper was getting.  Output:

[code]

Those numbers match the data currently shown on https://www.health.pa.gov/topics/disease/coronavirus/Pages/Cases.aspx.

In short, it looks ok to me, based on what's _currently_ there.

[2020-03-27 02:56] jzohrab commented on #409
Interesting, they also have an Archive page which lists several dates, and matches the 6/7/11 numbers @cburkins pointed out in https://github.com/lazd/coronadatascraper/issues/409#issuecomment-604758785:

https://www.health.pa.gov/topics/disease/coronavirus/Pages/Archives.aspx.

[2020-03-27 03:07] tautme opened #412 "CHN has negaitve active count for March 24"
![image](https://user-images.githubusercontent.com/15580867/77717222-e463ea00-6fad-11ea-9ce1-fdb8d148b9e2.png)

[2020-03-27 03:07] tautme opened #413 "GUM has negative active count for March 23"
![image](https://user-images.githubusercontent.com/15580867/77717355-3ad12880-6fae-11ea-9827-7f06971260bc.png)

[2020-03-27 03:08] tautme opened #414 "PRI has negative active count for March 23"
![image](https://user-images.githubusercontent.com/15580867/77717385-4d4b6200-6fae-11ea-842d-e5095b32b275.png)

[2020-03-27 03:13] firebuggirl opened #415 "California Data URLs give different results"
Hi all,

When I run `yarn start` locally I am noticing that the numbers for cases/deaths (etc.,) being projected to the `dist/` directory in many California counties differ from the numbers that are being displayed via many of the individual urls that are used in each individual scraper.

For example, if I simply run `yarn start`,  the resulting output for the county of Los Angeles states that the

[2020-03-27 03:48] jzohrab opened #416 "Active count may end up negative, depending on how locations handle data (ref issues 412-414)"
`geography.js` has the following:

[code]

Some locations appear to only include live people in "cases", e.g.:

![image](https://user-images.githubusercontent.com/1637133/77719599-4c650100-6fab-11ea-9a67-b919b7219a2b.png)

CHN has cases: 168; deaths: 6; recovered: 168.  `getActiveFromLocation` returns 168 - 6 - 168 = -6.

This bug causes issues
#412
#413
#414

[2020-03-27 04:50] jzohrab commented on #416
Some of these (with undefined in the columns) would have already been fixed by commit 84e8a277 from @qgolsteyn , but the CHN line would still be erroneous.

We could do the obvious:

[code]

but it feels too simplistic.

If "cases" includes deaths, the formula is good.
1000 cases, of these 500 died, 10 recovered.  active = 1000 - 500 - 10 = 490

If "cases" does not include deaths, it doesn't work.

[2020-03-27 05:19] lazd commented on #415
It looks like @HarrietRowan was a little slow to update the spreadsheet today, but it's showing 1230 now.

[2020-03-27 05:19] #415 closed

[2020-03-27 05:19] lazd commented on #416
I think we need to drop `active`. @camjc  @qgolsteyn @chunder ?

[2020-03-27 06:02] zbraniecki opened #417 "Update for 2020-3-26 has data only for the last day"
Basically all regions have:

[code]

[2020-03-27 06:43] zbraniecki commented on #417
fixed

[2020-03-27 06:43] #417 closed

[2020-03-27 06:58] zbraniecki opened #418 "Number of US states are missing deaths/tested"
States with reported deaths that are not in today's data:

* New York
* New Jersey
* Texas
* Georgia
* Colorado
* Tennessee
* Wisconsin
* Maryland
* Missouri
* Arizona
* Oklahoma
* Kansas
* Rhode Island
* Maine
* New Hampshire
* Delaware
* New Mexico
* Montana
* West Virginia
* Alaska

Compared to https://coronavirus.1point3acres.com/en

[2020-03-27 07:04] zbraniecki commented on #418
And `tested` I think as well.

In the `report.json` for `NY` I see:

[code]

but in `byLocation.json`, I see:

[code]

Same for Texas

[2020-03-27 07:06] zbraniecki commented on #390
Data for New York on illness/respiratory - https://weinbergerlab.shinyapps.io/NYC_syndromic/

[2020-03-27 07:09] zbraniecki commented on #391
This chart seems to have some data for hospital beds and ICU for USA and USA states. https://covid19.healthdata.org/projections

[2020-03-27 07:26] zbraniecki commented on #418
They're also reported with `aggregation: "county"`. I think they're deduped against counties because all those states have both county and state with that name.

[2020-03-27 12:02] Akuukis opened #420 "docs: methodology"
Great stuff! I'm considering to reuse your data via some API for my dashboard [Pandemic Estimator](https://pandemic-estimator.net/) but I wish it had a better documentation on methodology. I'm using JHU directly and I know what chaos it is, the most blatant example being that they provide "cumulative data" that's not cumulative quite often in practice. And the whole change of file formats, etc.

C

[2020-03-27 12:08] cburkins commented on #409
Thanks all for looking at this.   I think most of the PA county-level data is correct.  It seems to be the roll-up to PA sum data that feels off.

[2020-03-27 13:32] chunder commented on #374
PR created: https://github.com/lazd/coronadatascraper/pull/421

[2020-03-27 13:33] chunder commented on #374
Now we won't be outputting `0` cases if a scraper breaks. Will the map properly reflect the prior day's data if the time series has a missing entry for the final day?

[2020-03-27 14:09] martiL opened #423 "Wrong coordinates for USA"
![image](https://user-images.githubusercontent.com/5569498/77764265-aeba1200-703c-11ea-95bb-ee8301b59565.png)

The data set of " https://covidtracking.com/api/states" has wrong coordinates.

reproduce:
go to: https://corona-api-dashboard.netlify.com/
select "all" for source

[2020-03-27 14:58] vickyrathee opened #424 "Scraping agents, resources and free tool to help in this project"
Hey there!

Vikash from [Agenty](https://www.agenty.com/) here.
We'd love to offer a FREE Agenty account to help in setting up scraper quickly using our point-and-click extension with instant preview and more.

https://chrome.google.com/webstore/detail/agenty-advanced-web-scrap/gpolcofcjjiooogejfbaamdgmgfehgff

We already have some agents (in our public dataset) and experts web scraping team to bu

[2020-03-27 15:18] DavidGeeraerts commented on #286
Yeah, the "all-geocodes-v2016" has the city codes.

[2020-03-27 15:20] hyperknot commented on #286
Thanks I found it. For me right now I'm concentrating on international ISO1 and ISO2 codes, as well as US counties. But US cities can be added in the future as well.

[2020-03-27 15:39] skent259 opened #426 "Wisconsin cases on 3/26 are incorrect"
Pulled the latest data and it seems that the Wisconsin cases are actually showing the death values from  https://www.dhs.wisconsin.gov/covid-19/data.htm.   Looks like the data from 3/25 and prior is still okay

[2020-03-27 15:42] qgolsteyn commented on #32
Addressed with 595b47b

[2020-03-27 15:42] #32 closed

[2020-03-27 15:43] qgolsteyn commented on #168
Addressed

[2020-03-27 15:43] #168 closed

[2020-03-27 15:57] HarrietRowan commented on #415
I think that was a timing issue, 814 was the total at EOD on the 25th. But the numbers in my spreadsheet is usually slightly different (higher) than what they display on the website because I have a colleague down there who is getting timely reports from the three public health departments that are added together to come up with the LA county total, so we have slightly more up-to-date numbers than

[2020-03-27 16:47] firebuggirl commented on #415
Hi @lazd  & @HarrietRowan ,

I see...was just curious.. Thanks to you both for all of your hard work!

[2020-03-27 17:00] alexmill commented on #290
I've tried to address this issue but I'm not sure how to do so while also fixing the historical data. Rather than trying to make my own PR, I'll just describe my proposed solution in case someone else wants to build on it. It seems liked @chunder or @qgolsteyn have been working on this scraper recently.

The raw JSON URL is updated (manually from what I can tell) within the Plotly javascript every

[2020-03-27 17:02] tautme opened #430 "Calculate the number of COVID-19 cases around a location."
With the coordinate data for cases at sub_state accuracy, add a buffer around that location and count cases.

i.e. Say we have Longitude, Latitude (-94, 36) and want to know the cases within a ~150 radius.

1. filter for (-94 +- 3) & (36 +- 3) and sum cases.
2. convert degrees to miles. 3 degrees latitude is about 200 miles, any where on Earth.
3. then 3 degrees longitude is about 170 miles at 36

[2020-03-27 17:24] Akuukis opened #431 "Pretty names for sources (`url` field)"
## Problem
It's great to have `url` field to see which data comes from which places!

It would be even better to have a "pretty name" for those urls. For example, for "https://github.com/CSSEGISandData/COVID-19" says "Johns Hopkins University" or so.

## Proposal
A non-breaking suggestion would be to provide a map where urls maps to pretty names.

A breaking suggestion would be to change `url` fie

[2020-03-27 17:47] saralioness commented on #392
This spreadsheet has a number of data points for all US states and territories in one document: https://www.nga.org/wp-content/uploads/2020/03/CoronavirusStateActionsChart_26March2020.xlsx

Just to name a few:

- Emergency declaration
- National Guard activation
- Statewide school closures
- Stay-at-home orders

They update this spreadsheet daily and change the link/filename to match the current d

[2020-03-27 17:48] chunder commented on #416
I think if `active < 0` then return `null` not `0`.

[2020-03-27 18:52] jeffchenoweth commented on #416
I'd hate to drop active cases.  It's going to become much more important to decision making in the future as cases begin to drop.  I think it should be an error flag in scraper-status if it returns negative active to check the scraper for how it's being calculated.

[2020-03-27 18:55] razumovs opened #433 "timeseries-jhu.csv only one number is reported in time series"
https://coronadatascraper.com/#timeseries-jhu.csv

 what is reported in the jhu format timeseries data  deaths, confirmed, recovered?  if this is provided, could it be done for deaths and confirmed separately?

[2020-03-27 18:55] chunder commented on #416
Is anyone suggesting that we should stop tracking and reporting active cases completely? My suggestion is that we report it when we have the data to do so. When we don't have the data needed, we omit it.

[2020-03-27 19:51] tautme commented on #430
Create the buffer you would like to sum around coordinates and then convert the degrees longitude, latitude to approximate miles with this equation.
`<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Longitude Latitude Estimation Degree to Miles</h2>

<p id="demo"></p>

<script>
var lati = 36;
var lon = -94;

var R = 3959;
var circumference = 2 * Math.PI * R;

var D_lat_1_deg = circumference / 360;
va

[2020-03-27 20:05] lazd commented on #433
`cases`. We could, but can you please use `timeseries.csv` instead -- the JHU format is insane.

[2020-03-27 20:05] #433 closed

[2020-03-27 20:07] lazd commented on #431
We already have a `sources` field (as well as `curators` for curated date sources), but many scrapers don't have this field populated!

@Akuukis, can you send a PR adding pretty names to every scraper? We will be forever indebted to you.

[2020-03-27 20:08] lazd commented on #423
LOL nice. Thanks for the report, we'll have to track down why that's happening...

[2020-03-27 20:10] lazd commented on #423
Also, your tracker looks AWESOME, but you need to look at the `aggregate` property and ignore things that are aggregated; i.e. `CA, USA` will have `aggregate: county`, so you shouldn't draw it because you're going to draw its counties individually. Same for `USA`, really.

[2020-03-27 20:37] lazd commented on #420
Oh yeah, so you can check our `report.json` to see which data was been omitted.

ABSOLUTELY NOTHING has been adjusted. We're not in the business of forecasting or fudging. We pass along what our sources report, and we cite our sources. Corrections and adjustments are outside the scope of our project.

[2020-03-27 20:37] martiL commented on #423
Ah, thx for the hint :)
@ndom91

[2020-03-27 20:44] Akuukis commented on #431
@lazd I can look into that but my earliest ETA would be end of Monday. If anyone can do it sooner then please do!

[2020-03-27 20:47] Akuukis commented on #420
I think that answer would be best served by being somewhere visible on website, e.g. https://coronadatascraper.com/#sources

On the other side I've seen firsthand many problems with JHU source but not in your data, therefore this reply doesn't really answer my curiosity of what happened to those problems.

[2020-03-27 20:54] lazd commented on #374
Fixed in #374

[2020-03-27 20:54] #374 closed

[2020-03-27 21:41] lazd commented on #302
Fixed in d4f2d428317c0e47085a8cbbcbd1310b44991cc1

[2020-03-27 21:41] #302 closed

[2020-03-27 22:10] zbraniecki commented on #418
@lazd sorry to poke you, but I think this is pretty severe and I'd like to make sure it doesn't escape your attention before the next update. Can you mark it with appropriate labels?

[2020-03-27 22:19] judepayne opened #436 "Is this software used by Johns Hopkins to produce their data?"
Hi, just wanted to double check if anyone knows whether this software or a fork or it is used by JHU to produce their nightly data?

[2020-03-27 22:34] lazd commented on #431
Sounds great!

[2020-03-27 22:37] lazd commented on #436
No, this software actually uses JHU data and cross-checks it against other data sources.

JHU does not use this software, as far as we know.

[2020-03-27 22:37] #436 closed

[2020-03-27 22:38] FortDigital opened #438 "Sum of Aggregate active/Recovered cases drop between 24/3/20 and 25/3/20"
![image](https://user-images.githubusercontent.com/62287745/77805750-9bc63280-707a-11ea-8820-643464339648.png)

As per screenshot, the number of active cases dramatically drops between the above dates from 190K to 105K. Recovered Metric also drops significantly across these dates:

![image](https://user-images.githubusercontent.com/62287745/77805896-09725e80-707b-11ea-9686-0315400c5dd9.png)

I und

[2020-03-27 22:38] lazd commented on #418
No worries @zbraniecki. As part of #410, I will try to get `tested` data back via COVIDTracking. That said, I don't think we can get `deaths` unless we have it somewhere.

[2020-03-27 22:41] zbraniecki commented on #418
COVIDTracking has deaths for those states:
* TX - https://covidtracking.com/data/state/texas/#history
* NY - https://covidtracking.com/data/state/new-york/#history

Will that also fix it?

[2020-03-27 22:44] zbraniecki commented on #418
And #410 seems to be about combining data from two sources. My suspicion is that this bug is about two sources for two *different* things (county vs. state) ending up conflated as two sources of the same thing and the `county` one wins.

Here's what's in report.json for "NY, USA":

[code]
I think this is a different thing than #410. - mainly, those counties should not be conflated with states. and

[2020-03-27 22:45] zbraniecki commented on #390
Ooh, `COVIDTracking` now shows hospitalized data for states - https://covidtracking.com/data/state/new-york/#history

[2020-03-27 23:25] jzohrab commented on #409
PA data is out of whack again due to the page https://www.health.pa.gov/topics/disease/coronavirus/Pages/Cases.aspx now including some age ranges with percents, which are getting reported in the data:

​Age Range | ​Percent of Cases
-- | --
... | ...
​50-64 | ​28%
​65+ | ​18%

data.json:

[code]

This is a change as of today to the page layout, I'll work on this now.

[2020-03-27 23:30] cburkins commented on #409
As a PA resident, many thanks to you!

[2020-03-27 23:35] jzohrab opened #441 "Tests failing on master branch"
per https://github.com/lazd/coronadatascraper/runs/540825514:

[code]

This is super important, so I'm going to switch to this now.

[2020-03-28 00:16] dotysan opened #444 "Tuolumne County, CA scraper on wrong page"
It's using https://www.tuolumnecounty.ca.gov/CivicAlerts.aspx?AID=605 which still reports zero cases. But it should be using https://www.tuolumnecounty.ca.gov/250/Public-Health which reports one case since yesterday morning.

[2020-03-28 00:37] tautme commented on #363
It seems Utah is reporting Jurisdictions, which include multiple counties.
[https://coronavirus-dashboard.utah.gov/](https://coronavirus-dashboard.utah.gov/)

[2020-03-28 01:16] NickSto commented on #363
Are those even actual legal entities? Or is it just how the Department of Health decided to divide up reporting?

I guess either way, you could just decide that's what will serve as for the `county` field for Utah and report verbatim.

[2020-03-28 01:21] jzohrab commented on #441
Two failing tests:

## France expected .json not matching with actual data

These are mostly trivial.  The URLs used to be '', now they're not.  There are also some `population: undefined` fields returned in the actual data.  `undefined` is not easily represented in JSON.  @qgolsteyn is going to take a look it it, after I pushed a suggested fix to GitHub at https://github.com/jzohrab/coronadatascr

[2020-03-28 01:28] jzohrab commented on #441
The tests are indeed passing, but only due to a hack added to scraper.all.test.js:

      if (scraperObj.state === 'AL' && scraperObj.country === 'USA') {
        // Honestly these linter rules are absurd
        // eslint-disable-next-line
        scraperObj.scraper = scraperObj.scraper[0];
      }

:-) This testing idea should support multiple input file formats, and expected file outputs.

[2020-03-28 01:34] jzohrab opened #450 "scrapers.all.test.js doesn't handle cases where a scraper has multiple scrapers defined"
`scraper.all.test.js` has the following:

[code]

For some scrapers, such as USA/AL, `scraperObj.scraper` is an object, not a function: `{ '0': [AsyncFunction: 0], '2020-3-26': [AsyncFunction: 2020-3-26] }`

Currently, the tests are passing in master due to a hack added to `scraper.all.test.js`:

[code]

This testing idea should support multiple input file formats, just like it supports multiple e

[2020-03-28 01:42] jzohrab commented on #441
Tests passing again! Closing issue.

[2020-03-28 01:42] #441 closed

[2020-03-28 04:18] #405 closed

[2020-03-28 05:35] tautme commented on #363
It seems the population is too low to have individual administration. I have been thinking about it as Country, then subCountry, subsubCountry, and so on....

[2020-03-28 06:44] judepayne commented on #436
thanks

[2020-03-28 07:07] judepayne opened #456 "Could the output data be made available on github as well?"
Hi, would it be possible to make the output data (the raw csv's) available on this or another github repo as well as the https://coronadatascraper.com/ site? I feel it would help with the accessibility of this great resource.

[2020-03-28 11:06] HerbCaudill commented on #450
I'll take this.

[2020-03-28 12:20] paul-em opened #460 "CHE aggregated data is wrong"
Total Cases in Switzerland were going down over the last couple days. Seems like the aggregation is wrong, because the individual cantons look legit.

Visualized here: https://paul-em.github.io/covid-19-curves/?shown=Switzerland&column=cases

[2020-03-28 12:34] dkulp2 opened #461 "MA Suffolk County count wrong on 2020-03-21"
Suffolk County, MA should have 108, not 10 on March 21. This was a non-standard named file so perhaps it was manually entered and mis-keyed?

Attached is source reference via wayback.

[covid-19-case-report-3-21-2020-acc.docx](https://github.com/lazd/coronadatascraper/files/4397134/covid-19-case-report-3-21-2020-acc.docx)

[2020-03-28 17:27] #426 closed

[2020-03-28 17:29] piccolbo commented on #460
Worldometer latest value is 13377, +500 from yesterday

[2020-03-28 17:41] lazd commented on #456
It's possible, but not something we've considered as we don't want people sending pull requests against raw data.

[2020-03-28 17:43] lazd commented on #460
Hmm, maybe they're reporting daily, not cumulative? @paul-em @piccolbo can you investigate at the source https://github.com/daenuprobst/covid19-cases-switzerland/

[2020-03-28 18:04] lazd commented on #461
Good catch, it's showing up on two separate columns in the parser. I think I got it, and I fixed up the feature region for `Dukes and Nantucket`.

Can you validate the attached data and make sure it's correct for 2020-3-20 to 2020-3-27?

[timeseries-check.zip](https://github.com/lazd/coronadatascraper/files/4397604/timeseries-check.zip)

[2020-03-28 18:06] #461 closed

[2020-03-28 18:10] lazd commented on #418
No, those counties cases are rolled up into state totals, which is exactly what we want to do. However, testing numbers aren't being reported on a per-county basis, so they're not getting rolled up.

So what we want to do is take our rolled up case numbers and take COVIDTracking's testing numbers, which is what #410 is about.

[2020-03-28 18:12] lazd commented on #416
Yes @chunder , I'm not sure we should calculate `active` at all. It seems too prone to errors. If the source provides it pre-calculated, then we can use it.

That said, every time we have an error where `active` is less than zero, then that means there is something funky with the data source -- either we're pulling the number of cases wrong, or cases is not cumulative, or something like that...

[2020-03-28 18:13] lazd commented on #409
@jzohrab @cburkins was this fixed by #452? Check the data we reported last night and close this issue if it's looking proper.

[2020-03-28 18:15] lazd commented on #444
@HarrietRowan can you investigate?

[2020-03-28 18:23] HarrietRowan commented on #444
I am actually not counting that as a case, since it is an out of-county resident who was brought to a facility in Tuolomne and is likely being counted in another county's numbers, although I haven't had time to confirm that. But re: which page to scrape, this is the correct one: https://www.tuolumnecounty.ca.gov/250/Public-Health

[2020-03-28 19:23] rtwfroody opened #464 "Burma should be called Myanmar, country code MMR"

[2020-03-28 19:43] jzohrab commented on #416
Even if active is > 0, is could still be misleading, unfortunately.  e.g., both location X and Y started with 1500 sick people, and both have had 500 deaths, and have 10 recovered.  They should look the same, but X only reports current living cases (cases = 1000), Y includes deaths (cases = 1500).

Per the formula, active = (current) cases - deaths - recovered:

|X|Y|
|--|--|
|= 1000 - 500 - 10|=

[2020-03-28 20:26] NickSto commented on #361
Okay looks like we got a regression. I just checked and there's a `Burma` key now.

[2020-03-28 20:34] dkulp2 commented on #461
I was even going to say anything about the crazy Dukes & Nantucket thing, so thanks for addressing it, but now there's a mistake there: March 25 shows 315 instead of 3.
On Mar 28, 2020, 2:05 PM -0400, Larry Davis <notifications@github.com>, wrote:

[2020-03-28 20:34] dkulp2 commented on #461
I wasn't even going to say anything about the crazy Dukes & Nantucket thing, so thanks for addressing it, but now there's a mistake there: March 25 shows 315 instead of 3.
On Mar 28, 2020, 2:05 PM -0400, Larry Davis , wrote:

[2020-03-28 20:36] piccolbo commented on #460
If you look bottom row here https://github.com/daenuprobst/covid19-cases-switzerland/blob/master/covid19_cases_switzerland.csv after sorting by date, there's a row of null values for most cantons, but the federation value keeps going up. So two question @lazd do we trust the federal number or roll up the cantons in our scraper? For @paul-em : clearly my observation doesn't fit with yours that cant

[2020-03-28 20:40] piccolbo commented on #460
Their dashboard looks fine.
    https://dashcoch.herokuapp.com/
 I found other issues that could be related
covid19-cases-switzerland#61 covid19-cases-switzerland#58

[2020-03-28 20:45] dotysan commented on #444
Yes, you are correct. As long as we include it in Mono County. Although it raises the interesting question of collecting separate data on location of infection and current location of the infected...

[2020-03-28 20:48] dotysan commented on #444
I've added comment to source list https://docs.google.com/spreadsheets/d/1T2cSvWvUvurnOuNFj2AMPGLpuR2yVs3-jdd_urfWU4c/edit?disco=AAAAGWtQdH0 and am working on a scraper for both Mono and TuoCo.

[2020-03-28 20:52] lazd commented on #361
@NickSto ok that doesn't sound like a regression, more like another case we didn't handle. I'll take a look.

[2020-03-28 20:54] lazd commented on #361
So should Burma be MMR? It's it called Myanmar now? https://www.iso.org/obp/ui/#iso:code:3166:MM

[2020-03-28 20:59] #361 closed

[2020-03-28 21:00] #408 closed

[2020-03-28 21:28] dhicks opened #469 "Timeseries file does not distinguish New York State and New York City"
Today's (28 March) version of the timeseries file doesn't distinguish data for New York State vs. New York City.  Here are the two rows for yesterday (27 March) that match `state == 'NY'` and `is.na(county)` :

|city |county |state |country | population|      lat|      long|url                                                                      | cases| deaths| recovered| active| tested| growthFa

[2020-03-28 21:32] NickSto commented on #361
Yeah, MMR seems to be the ISO code for that country, whatever you prefer to call it. Thanks for taking a look.

[2020-03-28 21:32] dhicks commented on #469
The snapshot file *does* distinguish NYC and NYS.  NYS is `NA` for both city and county; NYC is `NA` for county and has `city == 'New York City'`.

[2020-03-28 21:50] andys1376 commented on #87
Created pull request: https://github.com/lazd/coronadatascraper/pull/470. This is my fist time contributing, so let me know if anything else needs to be done!

[2020-03-28 22:12] dmedwards commented on #409
I'm not sure if this is the same issue but the "like JHU" data also appears to have figures that are too low for the past week or so.

`,,PA,USA,41.12951166463159,-77.60961308037935,12801989,https://www.health.pa.gov/topics/disease/coronavirus/Pages/Cases.aspx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,16,,41,47,63,71,96,133,185,268,2,2,6,7,1

[2020-03-28 22:26] cburkins commented on #409
Hmm, didn't pull the repo and deploy myself, as I'm leveraging the data available on https://coronadatascraper.com/#timeseries-byLocation.json

Looking at that data, still shows incorrect values....    Perhaps it will be correct tomorrow when it pulls the new data for today ?

![image](https://user-images.githubusercontent.com/9342308/77835289-aee00d80-7121-11ea-90c2-575cb5171b62.png)

[2020-03-29 00:07] qgolsteyn commented on #450
@HerbCaudill I partially addressed this issue yesterday, feel free to take a different direction on this. Essentially, I used the logic from `runScraper` to handle scraper objects as it was already implemented. I also removed the test to check for the expected value of the for the latest data, as this would be error-prone. It is more deterministic to date-stamp all expected values, and run the scr

[2020-03-29 00:07] qgolsteyn commented on #450
I didn't see the hack when I updated those tests, I'll remove it now.

[2020-03-29 00:08] trainh2o2 opened #473 "GA has no cases?"
I am pretty sure GA has cases.

[2020-03-29 00:46] chfritz opened #474 "Using this data"
As suggested, just opening a ticket to let you know that we are using this data in https://bibbase.org/other/covid-19. Thank you very much for the effort, us and our users really appreciate it. There are so many really great visualizations already. The focus of ours is to plot the number of cases over time by region and to compute the 2nd gradient of cases (acceleration/deceleration of spread).

[2020-03-29 04:09] tautme commented on #390
Good point on tracking severity of case. I noticed Arkansas started reporting hospitalized, on ventilator, nursing home, gender, and age. Should all this data be collected?

[2020-03-29 04:36] tautme opened #478 "Incorrect lat/long/tz for various countries"
This is from data.csv March 28
Should tz = "America?"
<img width="1299" alt="image" src="https://user-images.githubusercontent.com/15580867/77840342-0f844000-714c-11ea-9b87-79bfddda0609.png">

[2020-03-29 04:40] tautme opened #479 "timeseries data does not include an "aggregate" column"
Should the timeseries data have an aggregate column as does the snapshot data?

[2020-03-29 04:47] lazd opened #480 "CHE scraper broken"
Seems to have some row number mismatches

[2020-03-29 04:48] lazd commented on #479
Yeah totally

[2020-03-29 04:48] lazd commented on #478
Should 100% be `aggregate: 'state'`, but the timezone is hilariously wrong.

[2020-03-29 04:49] lazd commented on #474
Awesome, nice work! Can you send a PR along to add this to `site/index.html`? Thanks!

[2020-03-29 04:49] #474 closed

[2020-03-29 04:49] lazd commented on #473
Sounds broken, investigating...

[2020-03-29 05:04] lazd commented on #473
Fixed by https://github.com/lazd/coronadatascraper/pull/465

[2020-03-29 05:04] #473 closed

[2020-03-29 05:05] lazd commented on #263
Same with `tz`

[2020-03-29 05:10] #263 closed

[2020-03-29 05:10] #479 closed

[2020-03-29 05:48] lazd opened #482 "De-dupe is randomly killing things it ought not"
Today, half of Wyoming was gone! Nevada, yesterday.

[2020-03-29 05:50] #482 closed

[2020-03-29 05:58] lazd opened #483 "RUS Scraper breaks caching"
The way the RUS scraper is implemented, fetching the CRSF token and throwing it on the URL, breaks caching. The URL changes every day and there is no way to know the old CRSF token.

This will need to be handled specially.

[2020-03-29 05:59] lazd commented on #483
@freeatnet

[2020-03-29 06:05] lazd commented on #464
Fixed by https://github.com/lazd/coronadatascraper/commit/8fbe8bf9edd221252667ba510f7ff553248e5763

[2020-03-29 06:05] #464 closed

[2020-03-29 06:10] #195 closed

[2020-03-29 06:10] lazd commented on #438
Can you suggest a fix?

[2020-03-29 06:46] freeatnet commented on #483
@lazd what's the expected behavior here?

[2020-03-29 07:31] tautme commented on #478
Lat. Long. for USA also incorrect.
The aggregate labels for country total cases are not consistent.
<img width="758" alt="image" src="https://user-images.githubusercontent.com/15580867/77843612-70b80d80-7164-11ea-95cb-428b31aa63c2.png">

[2020-03-29 08:27] Akuukis opened #485 "unstable featureId"
## Problem

A day ago, `featureId=338` was Italy, now it is some county in Russia. It's meaning is not defined.

Can we make IDs that don't change?

## Proposal

I don't know. Good enough for me to use random numbers as long they don't change.

## Ratione

I'm trying to pre-select some locations by ID but now I need to search/find the whole array by country/county/city and aggregation to find it.

[2020-03-29 09:53] kdn88 commented on #480
There also looks like a problem with the FRA and AUS data.

[2020-03-29 10:07] judepayne commented on #456
I get that - fair enough

[2020-03-29 10:11] kdn88 opened #487 "NY Times data"
Not sure if this is incorporated in the scraper dataset, but NY Times is publishing their data on github.  Maybe common source, but just thought i'd bring it up.

https://github.com/nytimes/covid-19-data

[2020-03-29 10:17] kdn88 opened #488 "Recoveries data problem for certain countries"
Looks like recovery numbers for CHN, KOR, JPN, DEU, SGP, TWN, GBR, IRN, maybe others not updating since 3/23.

[2020-03-29 11:19] #214 closed

[2020-03-29 11:19] hyperknot commented on #208
This one was done recently, right?

[2020-03-29 11:36] hyperknot opened #489 "How to store bigger assets"
What should we do with the bigger geographic packages, where should we store them?

My country-levels full planet extracts have a 72 MB, 92 MB and a 169 MB version, uncompressed. Compressed, these are 11, 17 and 35 MBs respecitvely.

As more and more county level data arrives, I'm sure it'll be dozens of similarly sized packages at the end.

What should we do about them?

The easiest and most reli

[2020-03-29 11:41] camjc commented on #489
https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html
Bunch of limits for lambdas. The one I normally hit is the 50mb limit for the bundle of code to run on the lambda.

[2020-03-29 11:46] hyperknot opened #490 "Migrate away from needle"
Yesterday I've spent an hour trying to figure out the particular behaviour of needle, but I couldn't. I think it's just behaving in a very unreliable way.

Doing nothing but changing the URL between smaller (1 KB) and bigger (10 MB) files, it was producing the following behaviour:
- tiny files were handled always correctly
- 10 MB files were either:
   - downloaded (the least probable one)
   - si

[2020-03-29 11:49] hyperknot commented on #489
So I guess we are almost hitting that with the vendor folder already (28 MB)? I guess the direction then is to download zip files.

And is it possible to make them cache so that not every single run needs to download from GitHub?

[2020-03-29 13:03] FortDigital commented on #438
Probably beyond my capability TBH. My best guess would be that this lines up with when JHU 'Retired' Recovered datasets, they have since reinstated them with a new name here so it could just be a case of re establishing the previous scraper?:

https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-29 15:16] Shoeboxam commented on #114
Resolved by 2c686063302f6f3031f8e08b3ad79c0c79ba3b62

[2020-03-29 15:50] lazd opened #492 "Add links to cache on crosscheck reports"
Right now, cross-check reports link to the latest data. We should instead link to the relevant cache.

[2020-03-29 15:52] lazd commented on #487
Yes, it's already in the scraper and cross-checked/de-duped against everything.

https://coronadatascraper.com/#crosscheck
https://coronadatascraper.com/#sources

[2020-03-29 15:52] #487 closed

[2020-03-29 15:53] lazd commented on #485
Yes, they totally change. #243 was set to fix this with the help of @hyperknot's killer dataset, and it will be refactored and resent soon.

[2020-03-29 15:57] lazd commented on #483
It should be possible to retrieve cache for RUS when running a timeseries:

[code]

You see, when we run a timeseries, we re-scrape the cached page -- we don't use previously generated data, because it could contain bugs that we fixed in the scraper. We version our scrapers by date, so the old version sticks around to re-scrape old pages. This makes our dataset retroactively healing if we fix bugs

[2020-03-29 15:58] lazd commented on #490
I'd like to try it -- sometimes needle fails to download Utah for me, stopping half way through...

[2020-03-29 18:44] lazd commented on #478
lat long is definitely wrong, and that's why it's finding the wrong timezone.

Please use separate issues to discuss separate issues. Don't pile on a report about `aggregate` to an issue about `tz`, please.

[2020-03-29 18:45] lazd commented on #378
@tautme says

<img width="758" alt="image" src="https://user-images.githubusercontent.com/15580867/77843612-70b80d80-7164-11ea-95cb-428b31aa63c2.png">

[2020-03-29 19:55] chunder commented on #490
I also just spent time debugging the fact that needle doesn't download UT's 11MB payload reliably. I also made a PR to have it retry.

Using got sound better to me.

[2020-03-29 20:12] chunder commented on #492
I think we should link both to the "human" `this.source.url` landing page for the authoritative source as well as the "machine read" `this.url`. The `this.url` should link into the cache.

[2020-03-29 20:17] lazd commented on #492
Yeah good call, right now we link to the human URL on the sources page, then data separate. We'll need UI to disclose additional links for this view, however.

[2020-03-29 21:00] ryanblock commented on #490
Example source(s) that have these large payloads so that I can test out some alternatives?

[2020-03-29 21:01] freeatnet commented on #483
@lazd Should the cache key (URL) change every day or is that handled somewhere else when re-scraping fetched pages?

[2020-03-29 21:03] chunder commented on #490
UT, USA.

[2020-03-29 22:27] chunder commented on #492
Why not add a block of info right below the LOCATION header of each cross check entry.

[code]

[2020-03-29 23:04] #310 closed

[2020-03-30 00:15] lazd commented on #488
Yes, that data came from JHU, and it seems like it's missing now. Not sure if they scrubbed it or what, but if they don't provide it, we won't have it.

[2020-03-30 00:16] lazd commented on #365
@qgolsteyn is this still an issue?

[2020-03-30 00:17] lazd commented on #409
I fixed this last night in https://github.com/lazd/coronadatascraper/commit/392290719e7cb414f890b6a637fb29fa8327ba67, it looks good now

[2020-03-30 00:17] #409 closed

[2020-03-30 00:17] lazd commented on #327
Is this still an issue?

[2020-03-30 00:21] caticoa3 commented on #392
Heads up: currently, it looks like only the latest 4 weekdays are available, and anything before or on the 24th March 2020 is not available.

[2020-03-30 03:04] ryanblock commented on #489
Couple things:
- 50MB compressed, 250MB uncompressed
- We get a decent amount of disk if we need to temporarily persist anything (512MB)
- We will have 3GB of RAM if we want to read anything out of S3 into memory and operate on it there, which I'd strongly suggest

How soon do we need this functionality?

[2020-03-30 03:09] hyperknot commented on #489
Right now I'd need to store those GeoJSON files somewhere. I definitely not want to store them in Git, as they are big and numerous. Including in package.json is also not a good idea, as it'd load the whole dataset.

Basically that zipToFolder seems to be the best idea for me, at least it takes the smallest amount of space and doesn't pollute Git or package.json / node_modules.

[2020-03-30 03:09] hyperknot commented on #489
That sounds like the perfect solution in my opinion. Can we just unzip to `src/shared/vendor` now and change it to that temp folder later on?

[2020-03-30 04:26] mvanmidd commented on #418
Just as another data point, I'm still seeing deaths == nan for all of NY state and city.

[code]
(Personally I'm less interested in tested, except to the extent that it's caused by the same underlying issue... reports on number tested have been inconsistent across most aggregators; cases+deaths have been more reliable).

Also, thanks for putting this dataset together; I've been lurking for a while

[2020-03-30 04:31] lazd commented on #418
@mvanmidd we don't have a source for deaths in NYC on a per-county basis: https://coronavirus.health.ny.gov/county-county-breakdown-positive-cases

[2020-03-30 04:50] mvanmidd commented on #418
Gotcha, thanks for the update. #410 seems like a big one, good luck! y'all are going to have a fully featured generic/configurable ETL framework pretty soon :)

In all seriousness, I think the auditable data aggregation is the biggest strength of this project... there's plenty of fronted work going on elsewhere (e.g. the explosion of "babby's first plotly visualizations," including my own), and on

[2020-03-30 05:51] cristipp commented on #327
US counts look reasonable to me.

[2020-03-30 11:28] ketch commented on #488
They dropped it because they said they didn't have sufficiently reliable sources in most places.

[2020-03-30 12:09] praging commented on #208
yes. has been closed. @lazd

[2020-03-30 12:21] praging commented on #199
Duplicate of #286

[2020-03-30 12:49] #208 closed

[2020-03-30 14:17] roboter202 opened #514 "Geo Metadata is wrong Brandenburg, Germany"
In location.json on object 628 (DE-BB) Brandenburg
coordinates, population and feature id wrongfully match those of object 629 (DE-BE) Berlin.

These are 2 different states though.

[code]

should be

[code]

[2020-03-30 14:59] weslawson opened #515 "Visualization Using CDS Data"
I would like to report the following Tableau Visualization is using the CDS data.
https://public.tableau.com/profile/wes.lawson#!/vizhome/COVID-19_15851692006450/COVID-19

Thanks,
Wes

[2020-03-30 15:38] lazd commented on #514
@jgehrcke thoughts?

[2020-03-30 15:39] lazd commented on #488
Sounds like we don't either, then :( Closing this for now.

[2020-03-30 15:39] #488 closed